/*! Component: kt-breadcrumb-ellipsis | Layer: components | Generated 2025-11-08 03:31:22 +0000 */
@layer components {
.kt-breadcrumb-ellipsis {
    svg {
      width: calc(var(--spacing) * 4);
      height: calc(var(--spacing) * 4);
    }
  }
}
