/*! Component: kt-breadcrumb-item | Layer: components | Generated 2025-11-08 03:31:22 +0000 */
@layer components {
.kt-breadcrumb-item {
    display: inline-flex;
    align-items: center;
    gap: calc(var(--spacing) * 1.5);
  }
}
