/*! Component Root Index via @import | Layer: kt-breadcrumb | Generated 2025-11-08 03:31:24 +0000 */
@import url("./kt-breadcrumb-ellipsis.css");
@import url("./kt-breadcrumb-item.css");
@import url("./kt-breadcrumb-link.css");
@import url("./kt-breadcrumb-page.css");
@import url("./kt-breadcrumb-root.css");
@import url("./kt-breadcrumb-separator.css");
