/*! Utility: lg\:overflow-visible | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.lg\:overflow-visible {
    @media (width >= 64rem) {
      overflow: visible;
    }
  }
}
