/*! Utility: sr-only | Layer: utilities | Generated 2025-11-08 03:31:12 +0000 */
@layer utilities {
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}
