/*! Utility: before\:top-0 | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.before\:top-0 {
    &::before {
      content: var(--tw-content);
      top: calc(var(--spacing) * 0);
    }
  }
}
