/*! Component: kt-dropdown-body | Layer: components | Generated 2025-11-08 03:31:19 +0000 */
@layer components {
.kt-dropdown-body {
    padding-inline: calc(var(--spacing) * 4);
    padding-block: calc(var(--spacing) * 3);
  }
}
