/*! Component: kt-dropdown-menu | Layer: components | Generated 2025-11-08 03:31:19 +0000 */
@layer components {
.kt-dropdown-menu {
    :where(& > :not(:last-child)) {
      --tw-space-y-reverse: 0;
      margin-block-start: calc(calc(var(--spacing) * 1) * var(--tw-space-y-reverse));
      margin-block-end: calc(calc(var(--spacing) * 1) * calc(1 - var(--tw-space-y-reverse)));
    }
    border-radius: calc(var(--radius) - 2px);
    border-style: var(--tw-border-style);
    border-width: 1px;
    border-color: var(--border);
    background-color: var(--popover);
    padding: calc(var(--spacing) * 2);
    color: var(--popover-foreground);
    --tw-shadow: 0 4px 6px -1px var(--tw-shadow-color, rgb(0 0 0 / 0.1)), 0 2px 4px -2px var(--tw-shadow-color, rgb(0 0 0 / 0.1));
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    --tw-shadow-color: rgba(0,0,0,0.05);
    @supports (color: color-mix(in lab, red, red)) {
      --tw-shadow-color: color-mix(in oklab, rgba(0,0,0,0.05) var(--tw-shadow-alpha), transparent);
    }
    &:not(.open) {
      display: none;
    }
  }

.kt-dropdown-menu-sub {
    width: 100%;
    :where(& > :not(:last-child)) {
      --tw-space-y-reverse: 0;
      margin-block-start: calc(calc(var(--spacing) * 1) * var(--tw-space-y-reverse));
      margin-block-end: calc(calc(var(--spacing) * 1) * calc(1 - var(--tw-space-y-reverse)));
    }
  }

.kt-dropdown-menu-toggle {
    display: flex;
    width: 100%;
    cursor: pointer;
    align-items: center;
    column-gap: calc(var(--spacing) * 2.5);
    border-radius: calc(var(--radius) - 2px);
    padding-inline: calc(var(--spacing) * 2.5);
    padding-block: calc(var(--spacing) * 2);
    text-align: start;
    font-size: var(--text-sm);
    line-height: var(--tw-leading, var(--text-sm--line-height));
    --tw-font-weight: var(--font-weight-medium);
    font-weight: var(--font-weight-medium);
    &:disabled {
      pointer-events: none;
    }
    &:disabled {
      opacity: 50%;
    }
    color: var(--foreground);
    &:hover {
      @media (hover: hover) {
        background-color: var(--accent);
      }
    }
    &:hover {
      @media (hover: hover) {
        color: var(--accent-foreground);
      }
    }
    [data-kt-dropdown-initialized].open > [data-kt-dropdown-toggle]& {
      background-color: var(--accent);
    }
    [data-kt-dropdown-initialized].open > [data-kt-dropdown-toggle] & {
      background-color: var(--accent);
    }
    [data-kt-dropdown-initialized].open > [data-kt-dropdown-toggle]& {
      color: var(--accent-foreground);
    }
    [data-kt-dropdown-initialized].open > [data-kt-dropdown-toggle] & {
      color: var(--accent-foreground);
    }
    .kt-dropdown-menu-indicator {
      margin-inline-start: auto;
      display: inline-flex;
      width: calc(var(--spacing) * 3.5);
      height: calc(var(--spacing) * 3.5);
      flex-shrink: 0;
      align-items: center;
      color: var(--muted-foreground);
    }
    i {
      flex-shrink: 0;
      font-size: var(--text-base);
      line-height: var(--tw-leading, var(--text-base--line-height));
      color: var(--muted-foreground);
    }
    svg {
      width: calc(var(--spacing) * 4);
      height: calc(var(--spacing) * 4);
      flex-shrink: 0;
      color: var(--muted-foreground);
    }
  }

.kt-dropdown-menu-link {
    display: flex;
    width: 100%;
    cursor: pointer;
    align-items: center;
    column-gap: calc(var(--spacing) * 2.5);
    border-radius: calc(var(--radius) - 2px);
    padding-inline: calc(var(--spacing) * 2.5);
    padding-block: calc(var(--spacing) * 2);
    text-align: start;
    font-size: var(--text-sm);
    line-height: var(--tw-leading, var(--text-sm--line-height));
    --tw-font-weight: var(--font-weight-medium);
    font-weight: var(--font-weight-medium);
    &:disabled {
      pointer-events: none;
    }
    &:disabled {
      opacity: 50%;
    }
    color: var(--foreground);
    &:hover {
      @media (hover: hover) {
        background-color: var(--accent);
      }
    }
    &:hover {
      @media (hover: hover) {
        color: var(--accent-foreground);
      }
    }
    [data-kt-dropdown-initialized] .selected {
      background-color: var(--accent);
    }
    [data-kt-dropdown-initialized] .selected & {
      background-color: var(--accent);
    }
    [data-kt-dropdown-initialized] &.selected {
      background-color: var(--accent);
    }
    [data-kt-dropdown-initialized] .selected {
      color: var(--accent-foreground);
    }
    [data-kt-dropdown-initialized] .selected & {
      color: var(--accent-foreground);
    }
    [data-kt-dropdown-initialized] &.selected {
      color: var(--accent-foreground);
    }
    i {
      flex-shrink: 0;
      font-size: var(--text-base);
      line-height: var(--tw-leading, var(--text-base--line-height));
      color: var(--muted-foreground);
    }
    svg {
      width: calc(var(--spacing) * 4);
      height: calc(var(--spacing) * 4);
      flex-shrink: 0;
      color: var(--muted-foreground);
    }
  }

.kt-dropdown-menu-separator {
    margin-inline: calc(var(--spacing) * -2);
    margin-block: calc(var(--spacing) * 2.5);
    height: 1px;
    background-color: var(--border);
    &:where(:dir(rtl), [dir="rtl"], [dir="rtl"] *) {
      rotate: 180deg;
    }
    &:where(:dir(rtl), [dir="rtl"], [dir="rtl"] *) {
      transform: var(--tw-rotate-x,) var(--tw-rotate-y,) var(--tw-rotate-z,) var(--tw-skew-x,) var(--tw-skew-y,);
    }
  }
}
