/*! Component: kt-dropdown-menu-toggle | Layer: components | Generated 2025-11-08 03:31:19 +0000 */
@layer components {
.kt-dropdown-menu-toggle {
    display: flex;
    width: 100%;
    cursor: pointer;
    align-items: center;
    column-gap: calc(var(--spacing) * 2.5);
    border-radius: calc(var(--radius) - 2px);
    padding-inline: calc(var(--spacing) * 2.5);
    padding-block: calc(var(--spacing) * 2);
    text-align: start;
    font-size: var(--text-sm);
    line-height: var(--tw-leading, var(--text-sm--line-height));
    --tw-font-weight: var(--font-weight-medium);
    font-weight: var(--font-weight-medium);
    &:disabled {
      pointer-events: none;
    }
    &:disabled {
      opacity: 50%;
    }
    color: var(--foreground);
    &:hover {
      @media (hover: hover) {
        background-color: var(--accent);
      }
    }
    &:hover {
      @media (hover: hover) {
        color: var(--accent-foreground);
      }
    }
    [data-kt-dropdown-initialized].open > [data-kt-dropdown-toggle]& {
      background-color: var(--accent);
    }
    [data-kt-dropdown-initialized].open > [data-kt-dropdown-toggle] & {
      background-color: var(--accent);
    }
    [data-kt-dropdown-initialized].open > [data-kt-dropdown-toggle]& {
      color: var(--accent-foreground);
    }
    [data-kt-dropdown-initialized].open > [data-kt-dropdown-toggle] & {
      color: var(--accent-foreground);
    }
    .kt-dropdown-menu-indicator {
      margin-inline-start: auto;
      display: inline-flex;
      width: calc(var(--spacing) * 3.5);
      height: calc(var(--spacing) * 3.5);
      flex-shrink: 0;
      align-items: center;
      color: var(--muted-foreground);
    }
    i {
      flex-shrink: 0;
      font-size: var(--text-base);
      line-height: var(--tw-leading, var(--text-base--line-height));
      color: var(--muted-foreground);
    }
    svg {
      width: calc(var(--spacing) * 4);
      height: calc(var(--spacing) * 4);
      flex-shrink: 0;
      color: var(--muted-foreground);
    }
  }
}
