/*! Utility: lg\:mx-3 | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.lg\:mx-3 {
    @media (width >= 64rem) {
      margin-inline: calc(var(--spacing) * 3);
    }
  }
}
