/*! Utility: lg\:mx-0 | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.lg\:mx-0 {
    @media (width >= 64rem) {
      margin-inline: calc(var(--spacing) * 0);
    }
  }
}
