/*! Utility: lg\:inline | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.lg\:inline {
    @media (width >= 64rem) {
      display: inline;
    }
  }

.lg\:inline-flex {
    @media (width >= 64rem) {
      display: inline-flex;
    }
  }
}
