/*! Component Root Index via @import | Layer: kt-form | Generated 2025-11-08 03:31:24 +0000 */
@import url("./kt-form-actions.css");
@import url("./kt-form-control-inline.css");
@import url("./kt-form-control.css");
@import url("./kt-form-description.css");
@import url("./kt-form-item.css");
@import url("./kt-form-label.css");
@import url("./kt-form-message.css");
@import url("./kt-form-root.css");
