/*! Component: kt-form-actions | Layer: components | Generated 2025-11-08 03:31:18 +0000 */
@layer components {
.kt-form-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: calc(var(--spacing) * 2.5);
  }
}
