/*! Component: kt-form-description | Layer: components | Generated 2025-11-08 03:31:18 +0000 */
@layer components {
.kt-form-description {
    margin-top: calc(var(--spacing) * -1);
    font-size: var(--text-xs);
    line-height: var(--tw-leading, var(--text-xs--line-height));
    --tw-font-weight: var(--font-weight-normal);
    font-weight: var(--font-weight-normal);
    color: var(--secondary-foreground);
  }

.kt-form-description {
      display: none;
    }
}
