/*! Component: kt-form-label | Layer: components | Generated 2025-11-08 03:31:18 +0000 */
@layer components {
.kt-form-label {
    display: flex;
    width: 100%;
    align-items: center;
    gap: calc(var(--spacing) * 2);
    font-size: var(--text-sm);
    line-height: var(--tw-leading, var(--text-sm--line-height));
    --tw-leading: 1;
    line-height: 1;
    --tw-font-weight: var(--font-weight-medium);
    font-weight: var(--font-weight-medium);
    color: var(--foreground);
    &:is(:where(.peer):disabled ~ *) {
      cursor: not-allowed;
    }
    &:is(:where(.peer):disabled ~ *) {
      opacity: 50%;
    }
    .kt-switch:disabled + &,	.kt-checkbox:disabled + &,	.kt-radio:disabled + & {
      cursor: not-allowed;
      opacity: 50%;
    }
  }
}
