/*! Utility: hover\:rounded-lg | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.hover\:rounded-lg {
    &:hover {
      @media (hover: hover) {
        border-radius: var(--radius);
      }
    }
  }
}
