/*! Utility: hover\:\[\&_i\]\:text-primary | Layer: utilities | Generated 2025-11-08 03:31:17 +0000 */
@layer utilities {
.hover\:\[\&_i\]\:text-primary {
    &:hover {
      @media (hover: hover) {
        & i {
          color: var(--primary);
        }
      }
    }
  }
}
