/*! Utility: hover\:text-white | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.hover\:text-white {
    &:hover {
      @media (hover: hover) {
        color: var(--color-white);
      }
    }
  }
}
