/*! Utility: hover\:\[\&_i\]\:text-black\/80 | Layer: utilities | Generated 2025-11-08 03:31:17 +0000 */
@layer utilities {
.hover\:\[\&_i\]\:text-black\/80 {
    &:hover {
      @media (hover: hover) {
        & i {
          color: color-mix(in srgb, #000 80%, transparent);
          @supports (color: color-mix(in lab, red, red)) {
            color: color-mix(in oklab, var(--color-black) 80%, transparent);
          }
        }
      }
    }
  }
}
