/*! Component Root Index via @import | Layer: kt-textarea | Generated 2025-11-08 03:31:24 +0000 */
@import url("./kt-textarea-lg.css");
@import url("./kt-textarea-root.css");
@import url("./kt-textarea-sm.css");
