/*! Utility: before\:start-\[32px\] | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.before\:start-\[32px\] {
    &::before {
      content: var(--tw-content);
      inset-inline-start: 32px;
    }
  }
}
