/*! Utility: gap-1 | Layer: utilities | Generated 2025-11-08 03:31:14 +0000 */
@layer utilities {
.gap-1 {
    gap: calc(var(--spacing) * 1);
  }

.gap-1\.5 {
    gap: calc(var(--spacing) * 1.5);
  }

.gap-1\.25 {
    gap: calc(var(--spacing) * 1.25);
  }

.gap-10 {
    gap: calc(var(--spacing) * 10);
  }
}
