/*! Utility: gap-2 | Layer: utilities | Generated 2025-11-08 03:31:14 +0000 */
@layer utilities {
.gap-2 {
    gap: calc(var(--spacing) * 2);
  }

.gap-2\.5 {
    gap: calc(var(--spacing) * 2.5);
  }
}
