/*! Utility: gap-3 | Layer: utilities | Generated 2025-11-08 03:31:14 +0000 */
@layer utilities {
.gap-3 {
    gap: calc(var(--spacing) * 3);
  }

.gap-3\.5 {
    gap: calc(var(--spacing) * 3.5);
  }
}
