/*! Utility: dark | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.dark\:block {
    &:is(.dark *) {
      display: block;
    }
  }

.dark\:hidden {
    &:is(.dark *) {
      display: none;
    }
  }

.dark\:inline-block {
    &:is(.dark *) {
      display: inline-block;
    }
  }

.dark\:border-green-950 {
    &:is(.dark *) {
      border-color: var(--color-green-950);
    }
  }

.dark\:border-orange-950 {
    &:is(.dark *) {
      border-color: var(--color-orange-950);
    }
  }

.dark\:border-violet-950 {
    &:is(.dark *) {
      border-color: var(--color-violet-950);
    }
  }

.dark\:border-yellow-950 {
    &:is(.dark *) {
      border-color: var(--color-yellow-950);
    }
  }

.dark\:border-zinc-600 {
    &:is(.dark *) {
      border-color: var(--color-zinc-600);
    }
  }

.dark\:bg-background {
    &:is(.dark *) {
      background-color: var(--background);
    }
  }

.dark\:bg-background\/70 {
    &:is(.dark *) {
      background-color: var(--background);
      @supports (color: color-mix(in lab, red, red)) {
        background-color: color-mix(in oklab, var(--background) 70%, transparent);
      }
    }
  }

.dark\:bg-green-950\/30 {
    &:is(.dark *) {
      background-color: color-mix(in srgb, oklch(26.6% 0.065 152.934) 30%, transparent);
      @supports (color: color-mix(in lab, red, red)) {
        background-color: color-mix(in oklab, var(--color-green-950) 30%, transparent);
      }
    }
  }

.dark\:bg-orange-950\/30 {
    &:is(.dark *) {
      background-color: color-mix(in srgb, oklch(26.6% 0.079 36.259) 30%, transparent);
      @supports (color: color-mix(in lab, red, red)) {
        background-color: color-mix(in oklab, var(--color-orange-950) 30%, transparent);
      }
    }
  }

.dark\:bg-violet-950\/30 {
    &:is(.dark *) {
      background-color: color-mix(in srgb, oklch(28.3% 0.141 291.089) 30%, transparent);
      @supports (color: color-mix(in lab, red, red)) {
        background-color: color-mix(in oklab, var(--color-violet-950) 30%, transparent);
      }
    }
  }

.dark\:bg-yellow-950\/30 {
    &:is(.dark *) {
      background-color: color-mix(in srgb, oklch(28.6% 0.066 53.813) 30%, transparent);
      @supports (color: color-mix(in lab, red, red)) {
        background-color: color-mix(in oklab, var(--color-yellow-950) 30%, transparent);
      }
    }
  }

.dark\:fill-green-950\/30 {
    &:is(.dark *) {
      fill: color-mix(in srgb, oklch(26.6% 0.065 152.934) 30%, transparent);
      @supports (color: color-mix(in lab, red, red)) {
        fill: color-mix(in oklab, var(--color-green-950) 30%, transparent);
      }
    }
  }

.dark\:fill-violet-950\/30 {
    &:is(.dark *) {
      fill: color-mix(in srgb, oklch(28.3% 0.141 291.089) 30%, transparent);
      @supports (color: color-mix(in lab, red, red)) {
        fill: color-mix(in oklab, var(--color-violet-950) 30%, transparent);
      }
    }
  }

.dark\:fill-yellow-950\/30 {
    &:is(.dark *) {
      fill: color-mix(in srgb, oklch(28.6% 0.066 53.813) 30%, transparent);
      @supports (color: color-mix(in lab, red, red)) {
        fill: color-mix(in oklab, var(--color-yellow-950) 30%, transparent);
      }
    }
  }

.dark\:stroke-green-950 {
    &:is(.dark *) {
      stroke: var(--color-green-950);
    }
  }

.dark\:stroke-violet-950 {
    &:is(.dark *) {
      stroke: var(--color-violet-950);
    }
  }

.dark\:stroke-yellow-950 {
    &:is(.dark *) {
      stroke: var(--color-yellow-950);
    }
  }

.dark\:text-black\/30 {
    &:is(.dark *) {
      color: color-mix(in srgb, #000 30%, transparent);
      @supports (color: color-mix(in lab, red, red)) {
        color: color-mix(in oklab, var(--color-black) 30%, transparent);
      }
    }
  }

.dark\:ring-green-950 {
    &:is(.dark *) {
      --tw-ring-color: var(--color-green-950);
    }
  }

.dark\:ring-violet-950 {
    &:is(.dark *) {
      --tw-ring-color: var(--color-violet-950);
    }
  }

.dark\:ring-yellow-950 {
    &:is(.dark *) {
      --tw-ring-color: var(--color-yellow-950);
    }
  }

.dark *) {
      display: none;
    }

.dark *) {
      background-color: var(--accent);
      @supports (color: color-mix(in lab, red, red)) {
        background-color: color-mix(in oklab, var(--accent) 50%, transparent);
      }
    }
}
