/*! Utility: rtl\:translate-x-2\/4 | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.rtl\:translate-x-2\/4 {
    &:where(:dir(rtl), [dir="rtl"], [dir="rtl"] *) {
      --tw-translate-x: calc(2/4 * 100%);
      translate: var(--tw-translate-x) var(--tw-translate-y);
    }
  }
}
