/*! Utility: rtl\:before\:translate-x-1\/2 | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.rtl\:before\:translate-x-1\/2 {
    &:where(:dir(rtl), [dir="rtl"], [dir="rtl"] *) {
      &::before {
        content: var(--tw-content);
        --tw-translate-x: calc(1/2 * 100%);
        translate: var(--tw-translate-x) var(--tw-translate-y);
      }
    }
  }
}
