/*! Utility: lg\:rounded-e-xl | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.lg\:rounded-e-xl {
    @media (width >= 64rem) {
      border-start-end-radius: calc(var(--radius) + 4px);
      border-end-end-radius: calc(var(--radius) + 4px);
    }
  }
}
