/*! Utility: pe-2 | Layer: utilities | Generated 2025-11-08 03:31:15 +0000 */
@layer utilities {
.pe-2 {
    padding-inline-end: calc(var(--spacing) * 2);
  }

.pe-2\.5 {
    padding-inline-end: calc(var(--spacing) * 2.5);
  }
}
