/*! Utility: sm\:justify-end | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.sm\:justify-end {
    @media (width >= 40rem) {
      justify-content: flex-end;
    }
  }
}
