/*! Component Root Index via @import | Layer: kt-popover | Generated 2025-11-08 03:31:24 +0000 */
@import url("./kt-popover-content.css");
@import url("./kt-popover-header.css");
@import url("./kt-popover-root.css");
