/*! Utility: divide-border | Layer: utilities | Generated 2025-11-08 03:31:14 +0000 */
@layer utilities {
.divide-border {
    :where(& > :not(:last-child)) {
      border-color: var(--border);
    }
  }
}
