/*! Utility: dark\:fill-yellow-950\/30 | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.dark\:fill-yellow-950\/30 {
    &:is(.dark *) {
      fill: color-mix(in srgb, oklch(28.6% 0.066 53.813) 30%, transparent);
      @supports (color: color-mix(in lab, red, red)) {
        fill: color-mix(in oklab, var(--color-yellow-950) 30%, transparent);
      }
    }
  }
}
