/*! Utility: dark\:fill-green-950\/30 | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.dark\:fill-green-950\/30 {
    &:is(.dark *) {
      fill: color-mix(in srgb, oklch(26.6% 0.065 152.934) 30%, transparent);
      @supports (color: color-mix(in lab, red, red)) {
        fill: color-mix(in oklab, var(--color-green-950) 30%, transparent);
      }
    }
  }
}
