/*! Utility: lg\:ps-0 | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.lg\:ps-0 {
    @media (width >= 64rem) {
      padding-inline-start: calc(var(--spacing) * 0);
    }
  }
}
