/*! Utility: pb-7 | Layer: utilities | Generated 2025-11-08 03:31:15 +0000 */
@layer utilities {
.pb-7 {
    padding-bottom: calc(var(--spacing) * 7);
  }

.pb-7\.5 {
    padding-bottom: calc(var(--spacing) * 7.5);
  }
}
