    <!-- begin: grid -->
       <div class="grid lg:grid-cols-3 gap-5 lg:gap-7.5 items-stretch">
        <div class="lg:col-span-1">
       <%= render 'metronic/layouts/partials/page/main/content/cards/card_team_meeting' %>
        </div>

        <div class="lg:col-span-2">
         <div class="grid">
          <%= render 'metronic/layouts/partials/page/main/content/cards/card_teams' %>
         </div>
        </div>
       </div>
       <!-- end: grid -->