<div class="grid">
          <div class="kt-card kt-card-grid h-full min-w-full">
           <div class="kt-card-header">
            <h3 class="kt-card-title">
             Teams
            </h3>
            <div class="kt-input max-w-48">
             <i class="ki-filled ki-magnifier">
             </i>
             <%= render 'metronic/layouts/partials/page/main/content/form/input/search_datatable' %>
            </div>
           </div>
           <%= render 'metronic/layouts/partials/page/main/content/tables/teams' %>
          </div>