/*! Component: kt-drawer-content | Layer: components | Generated 2025-11-08 03:31:19 +0000 */
@layer components {
.kt-drawer-content {
    flex-grow: 1;
    overflow-y: auto;
    padding: calc(var(--spacing) * 5);
  }
}
