<%#
  View: New Role
  Tujuan: Form pembuatan record baru dengan KT helpers.
<% end %>

<%= render 'protected/shared/partials/page_header',
  title: 'New Role',
  subtitle: 'Create a new Role' %>

<%= render 'protected/roles/form' %>

<div class="flex justify-center mt-6">
  <%= link_to send(:protected_roles_path), class: 'kt-btn kt-btn-outline' do %>
    <i class="ki-filled ki-arrow-left"></i>
    Back to Roles
  <% end %>
</div>