/*! Utility: bg-background\/70 | Layer: utilities | Generated 2025-11-08 03:31:15 +0000 */
@layer utilities {
.bg-background\/70 {
    background-color: var(--background);
    @supports (color: color-mix(in lab, red, red)) {
      background-color: color-mix(in oklab, var(--background) 70%, transparent);
    }
  }
}
