/*! Utility: bg-black\/25 | Layer: utilities | Generated 2025-11-08 03:31:15 +0000 */
@layer utilities {
.bg-black\/25 {
    background-color: color-mix(in srgb, #000 25%, transparent);
    @supports (color: color-mix(in lab, red, red)) {
      background-color: color-mix(in oklab, var(--color-black) 25%, transparent);
    }
  }
}
