/*! Utility: bg-destructive | Layer: utilities | Generated 2025-11-08 03:31:15 +0000 */
@layer utilities {
.bg-destructive {
    background-color: var(--destructive);
  }

.bg-destructive\/5 {
    background-color: var(--destructive);
    @supports (color: color-mix(in lab, red, red)) {
      background-color: color-mix(in oklab, var(--destructive) 5%, transparent);
    }
  }
}
