/*! Utility: bg-muted\/30 | Layer: utilities | Generated 2025-11-08 03:31:15 +0000 */
@layer utilities {
.bg-muted\/30 {
    background-color: var(--muted);
    @supports (color: color-mix(in lab, red, red)) {
      background-color: color-mix(in oklab, var(--muted) 30%, transparent);
    }
  }
}
