/*! Utility: bg-mono\/30 | Layer: utilities | Generated 2025-11-08 03:31:15 +0000 */
@layer utilities {
.bg-mono\/30 {
    background-color: var(--mono);
    @supports (color: color-mix(in lab, red, red)) {
      background-color: color-mix(in oklab, var(--mono) 30%, transparent);
    }
  }
}
