/*! Utility: bg-secondary-foreground | Layer: utilities | Generated 2025-11-08 03:31:15 +0000 */
@layer utilities {
.bg-secondary-foreground {
    background-color: var(--secondary-foreground);
  }
}
