/*! Utility: bg-violet-50 | Layer: utilities | Generated 2025-11-08 03:31:15 +0000 */
@layer utilities {
.bg-violet-50 {
    background-color: var(--color-violet-50);
  }

.bg-violet-500 {
    background-color: var(--color-violet-500);
  }
}
