/*! Utility: rtl\:justify-start | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.rtl\:justify-start {
    &:where(:dir(rtl), [dir="rtl"], [dir="rtl"] *) {
      justify-content: flex-start;
    }
  }
}
