/*! Utility: space-y-4\5 | Layer: utilities | Generated 2025-11-08 03:31:14 +0000 */
@layer utilities {
.space-y-4\.5 {
    :where(& > :not(:last-child)) {
      --tw-space-y-reverse: 0;
      margin-block-start: calc(calc(var(--spacing) * 4.5) * var(--tw-space-y-reverse));
      margin-block-end: calc(calc(var(--spacing) * 4.5) * calc(1 - var(--tw-space-y-reverse)));
    }
  }
}
