<%#
  View: Edit Customers
  Tujuan: Form edit record dengan KT helpers.
<% end %>

<%= render 'protected/shared/partials/page_header',
  title: 'Edit Issue',
  subtitle: (defined?(@issue) && @issue.respond_to?(:title) ? @issue.title : @issue.try(:id)) %>

<%= render 'protected/issues/customers/form' %>

<div class="flex justify-center mt-6">
  <%= link_to protected_customer_issues_path(@customer), class: 'kt-btn kt-btn-outline' do %>
    <i class="ki-filled ki-arrow-left"></i>
    Kembali ke Issues Customer
  <% end %>
</div>