<%#
  View: New Customers
  Tujuan: Form pembuatan record baru dengan KT helpers.
<% end %>

<%= render 'protected/shared/partials/page_header',
  title: 'New Issue',
  subtitle: (@customer&.respond_to?(:person_name) ? @customer.person_name : 'Customer') %>

<%= render 'protected/issues/customers/form' %>

<div class="flex justify-center mt-6">
  <%= link_to protected_customer_issues_path(@customer), class: 'kt-btn kt-btn-outline' do %>
    <i class="ki-filled ki-arrow-left"></i>
    Back to Customer Issues
  <% end %>
</div>