<%#
  View: New Customers
  Tujuan: Form pembuatan record baru dengan KT helpers.
<% end %>

<%= render 'protected/shared/partials/page_header',
  title: 'New Customers',
  subtitle: 'Create a new Customers' %>

<%= render 'protected/issues/customers/form' %>

<div class="flex justify-center mt-6">
  <%= link_to send(:protected_issues_customers_path), class: 'kt-btn kt-btn-outline' do %>
    <i class="ki-filled ki-arrow-left"></i>
    Back to Customers
  <% end %>
</div>