/*! Component: kt-skeleton | Layer: components | Generated 2025-11-08 03:31:22 +0000 */
@layer components {
.kt-skeleton {
    animation: var(--animate-pulse);
    border-radius: calc(var(--radius) - 2px);
    background-color: var(--accent);
  }
}
