/*! Utility: sm\:ps-8 | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.sm\:ps-8 {
    @media (width >= 40rem) {
      padding-inline-start: calc(var(--spacing) * 8);
    }
  }
}
