<%# View: Issues Employees Show (Tailwind) %>
<%# Tujuan: Tampilkan details + description dalam grid Tailwind %>
<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
  <div class="grid grid-cols-1 gap-6">
    <div>
      <%= render 'protected/issues/employees/partials/details_card' %>
    </div>
    <div>
      <%= render 'protected/issues/employees/partials/description_card' %>
    </div>
  </div>
</div>