/*! Utility: ltr\:rounded-tl-xl | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.ltr\:rounded-tl-xl {
    &:where(:dir(ltr), [dir="ltr"], [dir="ltr"] *) {
      border-top-left-radius: calc(var(--radius) + 4px);
    }
  }
}
