/*! Utility: ltr\:\[\&_tr\:nth-of-type\(2\)\>td\:first-child\]\:rounded-tl-xl | Layer: utilities | Generated 2025-11-08 03:31:17 +0000 */
@layer utilities {
.ltr\:\[\&_tr\:nth-of-type\(2\)\>td\:first-child\]\:rounded-tl-xl {
    &:where(:dir(ltr), [dir="ltr"], [dir="ltr"] *) {
      & tr:nth-of-type(2)>td:first-child {
        border-top-left-radius: calc(var(--radius) + 4px);
      }
    }
  }
}
