/*! Utility: \[--header-height-default\:95px\] | Layer: utilities | Generated 2025-11-08 03:31:15 +0000 */
@layer utilities {
.\[--header-height-default\:95px\] {
    --header-height-default: 95px;
  }
}
