/*! Utility: lg\:justify-center | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.lg\:justify-center {
    @media (width >= 64rem) {
      justify-content: center;
    }
  }
}
