/*! Utility: lg\:justify-end | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.lg\:justify-end {
    @media (width >= 64rem) {
      justify-content: flex-end;
    }
  }
}
