/*! Utility: \[\&_\kt-step-icon\]\:text-muted-foreground | Layer: utilities | Generated 2025-11-08 03:31:17 +0000 */
@layer utilities {
.\[\&_\.kt-step-icon\]\:text-muted-foreground {
    & .kt-step-icon {
      color: var(--muted-foreground);
    }
  }
}
