/*! Utility: xl\:max-w-96 | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.xl\:max-w-96 {
    @media (width >= 80rem) {
      max-width: calc(var(--spacing) * 96);
    }
  }
}
