/*! Utility: md\:justify-between | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.md\:justify-between {
    @media (width >= 48rem) {
      justify-content: space-between;
    }
  }
}
