/*! Utility: lg\:h-\(--header-height\) | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.lg\:h-\(--header-height\) {
    @media (width >= 64rem) {
      height: var(--header-height);
    }
  }
}
