/*! Utility: to-transparent | Layer: utilities | Generated 2025-11-08 03:31:15 +0000 */
@layer utilities {
.to-transparent {
    --tw-gradient-to: transparent;
    --tw-gradient-stops: var(--tw-gradient-via-stops, var(--tw-gradient-position), var(--tw-gradient-from) var(--tw-gradient-from-position), var(--tw-gradient-to) var(--tw-gradient-to-position));
  }
}
