/*! Utility: text-xs | Layer: utilities | Generated 2025-11-08 03:31:15 +0000 */
@layer utilities {
.text-xs {
    font-size: var(--text-xs);
    line-height: var(--tw-leading, var(--text-xs--line-height));
  }

.text-xs\! {
    font-size: var(--text-xs) !important;
    line-height: var(--tw-leading, var(--text-xs--line-height)) !important;
  }
}
