/*! Utility: text-2xs | Layer: utilities | Generated 2025-11-08 03:31:15 +0000 */
@layer utilities {
.text-2xs {
    font-size: var(--text-2xs);
    line-height: var(--tw-leading, var(--text-2xs--line-height));
  }
}
