/*! Utility: text-3xl | Layer: utilities | Generated 2025-11-08 03:31:15 +0000 */
@layer utilities {
.text-3xl {
    font-size: var(--text-3xl);
    line-height: var(--tw-leading, var(--text-3xl--line-height));
  }
}
