/*! Utility: text-2xl | Layer: utilities | Generated 2025-11-08 03:31:15 +0000 */
@layer utilities {
.text-2xl {
    font-size: var(--text-2xl);
    line-height: var(--tw-leading, var(--text-2xl--line-height));
  }
}
