/*! Utility: text-2sm | Layer: utilities | Generated 2025-11-08 03:31:15 +0000 */
@layer utilities {
.text-2sm {
    font-size: var(--text-2sm);
    line-height: var(--tw-leading, var(--text-2sm--line-height));
  }
}
