/*! Component: kt-scrollable-y-hover | Layer: components | Generated 2025-11-08 03:31:24 +0000 */
@layer components {
.kt-scrollable-y-hover, .kt-scrollable-x-hover, .kt-scrollable-auto, .kt-scrollable-y-auto, .kt-scrollable-x-auto {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    position: relative;
    &::-webkit-scrollbar {
      width: 0.35rem;
      height: 0.35rem;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 1.25rem;
    }
    &::-webkit-scrollbar-corner {
      background-color: transparent;
    }
  }

.kt-scrollable-y-hover {
    overflow-y: scroll;
  }

.kt-scrollable-y-hover:hover, .kt-scrollable-x-hover:hover {
    scrollbar-color: var(--scrollbar-thumb-color, var(--color-input)) transparent;
    &::-webkit-scrollbar-thumb {
      background-color: var(--scrollbar-thumb-color, var(--color-input));
    }
    &::-webkit-scrollbar-corner {
      background-color: transparent;
    }
  }

.kt-scrollable-y-hover {
      overflow-y: auto;
    }

.kt-scrollable-y-hover {
      overflow-y: auto;
    }
}
