/*! Component Root Index via @import | Layer: kt-scrollable | Generated 2025-11-08 03:31:24 +0000 */
@import url("./kt-scrollable-auto.css");
@import url("./kt-scrollable-hover.css");
@import url("./kt-scrollable-root.css");
@import url("./kt-scrollable-x-auto.css");
@import url("./kt-scrollable-x-hover.css");
@import url("./kt-scrollable-x.css");
@import url("./kt-scrollable-y-auto.css");
@import url("./kt-scrollable-y-hover.css");
@import url("./kt-scrollable-y.css");
