/*! Component: kt-checkbox-mono | Layer: components | Generated 2025-11-08 03:31:18 +0000 */
@layer components {
.kt-checkbox-mono {
    &:checked {
      border-color: var(--mono);
    }
    &:checked {
      background-color: var(--mono);
    }
    &:checked {
      color: var(--mono-foreground);
    }
    &:indeterminate {
      border-color: var(--mono);
    }
    &:indeterminate {
      background-color: var(--mono);
    }
    &:indeterminate {
      color: var(--mono-foreground);
    }
  }
}
