/*! Component Root Index via @import | Layer: kt-checkbox | Generated 2025-11-08 03:31:24 +0000 */
@import url("./kt-checkbox-lg.css");
@import url("./kt-checkbox-mono.css");
@import url("./kt-checkbox-root.css");
@import url("./kt-checkbox-sm.css");
