/*! Utility: before\:-translate-x-2\/4 | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.before\:-translate-x-2\/4 {
    &::before {
      content: var(--tw-content);
      --tw-translate-x: calc(calc(2/4 * 100%) * -1);
      translate: var(--tw-translate-x) var(--tw-translate-y);
    }
  }
}
