/*! Utility: before\:-translate-y-1\/2 | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.before\:-translate-y-1\/2 {
    &::before {
      content: var(--tw-content);
      --tw-translate-y: calc(calc(1/2 * 100%) * -1);
      translate: var(--tw-translate-x) var(--tw-translate-y);
    }
  }
}
