/*! Utility: lg\:\[--kt-reparent-mode\:prepend\] | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.lg\:\[--kt-reparent-mode\:prepend\] {
    @media (width >= 64rem) {
      --kt-reparent-mode: prepend;
    }
  }
}
