/*! Utility: transition-\[height\] | Layer: utilities | Generated 2025-11-08 03:31:15 +0000 */
@layer utilities {
.transition-\[height\] {
    transition-property: height;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--default-transition-duration));
  }
}
