/*! Utility: leading-4 | Layer: utilities | Generated 2025-11-08 03:31:15 +0000 */
@layer utilities {
.leading-4 {
    --tw-leading: calc(var(--spacing) * 4);
    line-height: calc(var(--spacing) * 4);
  }
}
