/*! Utility: leading-5\5 | Layer: utilities | Generated 2025-11-08 03:31:15 +0000 */
@layer utilities {
.leading-5\.5 {
    --tw-leading: calc(var(--spacing) * 5.5);
    line-height: calc(var(--spacing) * 5.5);
  }
}
