/*! Utility: leading-6 | Layer: utilities | Generated 2025-11-08 03:31:15 +0000 */
@layer utilities {
.leading-6 {
    --tw-leading: calc(var(--spacing) * 6);
    line-height: calc(var(--spacing) * 6);
  }
}
