/*! Component: kt-select-options | Layer: components | Generated 2025-11-08 03:31:20 +0000 */
@layer components {
.kt-select-options {
    :where(& > :not(:last-child)) {
      --tw-space-y-reverse: 0;
      margin-block-start: calc(calc(var(--spacing) * 0.5) * var(--tw-space-y-reverse));
      margin-block-end: calc(calc(var(--spacing) * 0.5) * calc(1 - var(--tw-space-y-reverse)));
    }
    padding: calc(var(--spacing) * 1);
  }
}
