/*! Component: kt-select-placeholder | Layer: components | Generated 2025-11-08 03:31:20 +0000 */
@layer components {
.kt-select-placeholder {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--muted-foreground);
  }
}
