/*! Component: kt-select-label | Layer: components | Generated 2025-11-08 03:31:20 +0000 */
@layer components {
.kt-select-label {
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
