/*! Component: kt-select-arrow | Layer: components | Generated 2025-11-08 03:31:20 +0000 */
@layer components {
.kt-select-arrow {
    margin-inline-start: auto;
    svg {
      width: calc(var(--spacing) * 4);
      height: calc(var(--spacing) * 4);
      color: var(--muted-foreground);
    }
  }
}
