/*! Component: kt-select-search-empty | Layer: components | Generated 2025-11-08 03:31:20 +0000 */
@layer components {
.kt-select-search-empty {
    padding-inline: calc(var(--spacing) * 3.5);
    padding-block: calc(var(--spacing) * 1);
    font-size: var(--text-sm);
    line-height: var(--tw-leading, var(--text-sm--line-height));
    color: var(--muted-foreground);
  }
}
