/*! Component: kt-select-select-all | Layer: components | Generated 2025-11-08 03:31:20 +0000 */
@layer components {
.kt-select-select-all {
    border-bottom-style: var(--tw-border-style);
    border-bottom-width: 1px;
    border-color: var(--border);
    padding-inline: calc(var(--spacing) * 2);
    padding-block: calc(var(--spacing) * 1);
  }

.kt-select-select-all-button {
    width: 100%;
    cursor: pointer;
    border-radius: calc(var(--radius) - 2px);
    padding: calc(var(--spacing) * 1.5);
    text-align: start;
    font-size: var(--text-sm);
    line-height: var(--tw-leading, var(--text-sm--line-height));
    &:hover {
      @media (hover: hover) {
        background-color: var(--accent);
      }
    }
    &:hover {
      @media (hover: hover) {
        color: var(--accent-foreground);
      }
    }
  }
}
