/*! Utility: rtl\:\[background-position\:-4rem_-4rem\] | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.rtl\:\[background-position\:-4rem_-4rem\] {
    &:where(:dir(rtl), [dir="rtl"], [dir="rtl"] *) {
      background-position: -4rem -4rem;
    }
  }
}
