/*! Utility: rtl\:\[background-position\:-70\%_25\%\] | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.rtl\:\[background-position\:-70\%_25\%\] {
    &:where(:dir(rtl), [dir="rtl"], [dir="rtl"] *) {
      background-position: -70% 25%;
    }
  }
}
