/*! Utility: rtl\:\[background-position\:-3rem_-3\5rem\] | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.rtl\:\[background-position\:-3rem_-3\.5rem\] {
    &:where(:dir(rtl), [dir="rtl"], [dir="rtl"] *) {
      background-position: -3rem -3.5rem;
    }
  }
}
