/*! Utility: rtl\:\[background-position\:-195px_-85px\] | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.rtl\:\[background-position\:-195px_-85px\] {
    &:where(:dir(rtl), [dir="rtl"], [dir="rtl"] *) {
      background-position: -195px -85px;
    }
  }
}
