/*! Utility: group-has-checked\:hidden | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.group-has-checked\:hidden {
    &:is(:where(.group):has(*:checked) *) {
      display: none;
    }
  }
}
