/*! Utility: py-5 | Layer: utilities | Generated 2025-11-08 03:31:15 +0000 */
@layer utilities {
.py-5 {
    padding-block: calc(var(--spacing) * 5);
  }

.py-5\.5\! {
    padding-block: calc(var(--spacing) * 5.5) !important;
  }
}
