/*! Utility: xl\:grid-cols-4 | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.xl\:grid-cols-4 {
    @media (width >= 80rem) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
}
