/*! Utility: sm\:me-0 | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.sm\:me-0 {
    @media (width >= 40rem) {
      margin-inline-end: calc(var(--spacing) * 0);
    }
  }
}
