/*! Component: kt-radio-sm | Layer: components | Generated 2025-11-08 03:31:19 +0000 */
@layer components {
.kt-radio-sm {
    width: calc(var(--spacing) * 4.5);
    height: calc(var(--spacing) * 4.5);
  }
}
