/*! Component: kt-radio-lg | Layer: components | Generated 2025-11-08 03:31:19 +0000 */
@layer components {
.kt-radio-lg {
    width: calc(var(--spacing) * 5.5);
    height: calc(var(--spacing) * 5.5);
  }
}
