/*! Utility: fill-destructive\/5 | Layer: utilities | Generated 2025-11-08 03:31:15 +0000 */
@layer utilities {
.fill-destructive\/5 {
    fill: var(--destructive);
    @supports (color: color-mix(in lab, red, red)) {
      fill: color-mix(in oklab, var(--destructive) 5%, transparent);
    }
  }
}
