/*! Utility: \[--header-height\:var\(--header-height-default\)\] | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.\[--header-height\:var\(--header-height-default\)\] {
    --header-height: var(--header-height-default);
  }
}
