/*! Component: kt-datatable-info | Layer: components | Generated 2025-11-08 03:31:19 +0000 */
@layer components {
.kt-datatable-info {
    display: flex;
    align-items: center;
    gap: calc(var(--spacing) * 4);
  }
}
