/*! Component Root Index via @import | Layer: kt-datatable | Generated 2025-11-08 03:31:24 +0000 */
@import url("./kt-datatable-info.css");
@import url("./kt-datatable-length.css");
@import url("./kt-datatable-loading.css");
@import url("./kt-datatable-overlay.css");
@import url("./kt-datatable-pagination-button.css");
@import url("./kt-datatable-pagination-next.css");
@import url("./kt-datatable-pagination-prev.css");
@import url("./kt-datatable-pagination.css");
@import url("./kt-datatable-toolbar.css");
