/*! Component: kt-datatable-toolbar | Layer: components | Generated 2025-11-08 03:31:19 +0000 */
@layer components {
.kt-datatable-toolbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: calc(var(--spacing) * 3);
    border-top-style: var(--tw-border-style);
    border-top-width: 1px;
    border-color: var(--border);
    padding-inline: calc(var(--spacing) * 4);
    padding-block: calc(var(--spacing) * 3);
    font-size: var(--text-sm);
    line-height: var(--tw-leading, var(--text-sm--line-height));
    --tw-font-weight: var(--font-weight-medium);
    font-weight: var(--font-weight-medium);
    color: var(--muted-foreground);
    @media (width >= 40rem) {
      flex-direction: row;
    }
    @media (width >= 40rem) {
      justify-content: space-between;
    }
  }
}
