/*! Component: kt-datatable-pagination-button | Layer: components | Generated 2025-11-08 03:31:19 +0000 */
@layer components {
.kt-datatable-pagination-button {
      display: inline-flex;
      height: calc(var(--spacing) * 7);
      min-width: calc(var(--spacing) * 7);
      cursor: pointer;
      align-items: center;
      justify-content: center;
      border-radius: calc(var(--radius) - 2px);
      background-color: transparent;
      padding-inline: calc(var(--spacing) * 0.5);
      color: var(--muted-foreground);
      &.active,	&:hover:not(:disabled) {
        background-color: var(--accent);
        color: var(--accent-foreground);
      }
      &.kt-datatable-pagination-prev {
        color: var(--foreground);
      }
      &.kt-datatable-pagination-next {
        color: var(--foreground);
      }
      &:disabled {
        cursor: default;
        color: var(--muted-foreground);
      }
    }
}
