/*! Component: kt-datatable-pagination-prev | Layer: components | Generated 2025-11-08 03:31:19 +0000 */
@layer components {
.kt-datatable-pagination-prev {
        color: var(--foreground);
      }
}
