/*! Component: kt-datatable-pagination-next | Layer: components | Generated 2025-11-08 03:31:19 +0000 */
@layer components {
.kt-datatable-pagination-next {
        color: var(--foreground);
      }
}
