/*! Utility: \[\&\active\]\:bg-primary\/10 | Layer: utilities | Generated 2025-11-08 03:31:17 +0000 */
@layer utilities {
.\[\&\.active\]\:bg-primary\/10 {
    &.active {
      background-color: var(--primary);
      @supports (color: color-mix(in lab, red, red)) {
        background-color: color-mix(in oklab, var(--primary) 10%, transparent);
      }
    }
  }
}
