/*! Component: kt-card-group | Layer: components | Generated 2025-11-08 03:31:18 +0000 */
@layer components {
.kt-card-group {
    flex-grow: 1;
    border-bottom-style: var(--tw-border-style);
    border-bottom-width: 1px;
    border-color: var(--border);
    padding-inline: calc(var(--spacing) * 5);
    padding-block: calc(var(--spacing) * 5);
    &:last-child {
      border-bottom-style: var(--tw-border-style);
      border-bottom-width: 0px;
    }
    & + .kt-card-footer {
      border-top-style: var(--tw-border-style);
      border-top-width: 0px;
    }
  }
}
