/*! Component: kt-card-description | Layer: components | Generated 2025-11-08 03:31:18 +0000 */
@layer components {
.kt-card-description {
    font-size: var(--text-sm);
    line-height: var(--tw-leading, var(--text-sm--line-height));
    color: var(--muted-foreground);
  }
}
