/*! Component: kt-card-rounded-b | Layer: components | Generated 2025-11-08 03:31:18 +0000 */
@layer components {
.kt-card-rounded-b {
    border-bottom-right-radius: calc(var(--radius) + 4px);
    border-bottom-left-radius: calc(var(--radius) + 4px);
  }
}
