/*! Component: kt-card-table | Layer: components | Generated 2025-11-08 03:31:18 +0000 */
@layer components {
.kt-card-table {
    display: grid;
    flex-grow: 1;
    .kt-table-border {
      border-style: var(--tw-border-style);
      border-width: 0px;
    }
    .kt-table {
      th,	td {
        &:first-child {
          padding-inline-start: calc(var(--spacing) * 5);
        }
        &:last-child {
          padding-inline-end: calc(var(--spacing) * 5);
        }
      }
    }
  }

.kt-card-table {
      border-radius: calc(var(--radius) + 4px);
      background-color: var(--card);
      &:last-child {
        border-bottom-right-radius: calc(var(--radius) + 4px);
        border-bottom-left-radius: calc(var(--radius) + 4px);
      }
    }
}
