/*! Component: kt-card-grid | Layer: components | Generated 2025-11-08 03:31:18 +0000 */
@layer components {
.kt-card-grid {
    & .kt-card-header,	& .kt-card-footer {
      padding-inline: calc(var(--spacing) * 5);
    }
    .kt-card-content {
      padding: 0;
      .kt-table {
        border: 0;
        th:first-child,	td:first-child {
          padding-inline-start: calc(var(--spacing) * 5);
          &.kt-table-cell-center {
            padding-inline-end: calc(var(--spacing) * 5);
          }
        }
        th:last-child,	td:last-child {
          padding-inline-end: calc(var(--spacing) * 5);
          &.table-cell-center {
            padding-inline-start: calc(var(--spacing) * 5);
          }
        }
      }
    }
  }
}
