/*! Component: kt-card-rounded-t | Layer: components | Generated 2025-11-08 03:31:18 +0000 */
@layer components {
.kt-card-rounded-t {
    border-top-left-radius: calc(var(--radius) + 4px);
    border-top-right-radius: calc(var(--radius) + 4px);
  }
}
