/*! Component: kt-card-border | Layer: components | Generated 2025-11-08 03:31:18 +0000 */
@layer components {
.kt-card-border {
    border-style: var(--tw-border-style);
    border-width: 1px;
    border-color: var(--border);
  }
}
