/*! Utility: before\:absolute | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.before\:absolute {
    &::before {
      content: var(--tw-content);
      position: absolute;
    }
  }
}
