/*! Utility: dark\:border-yellow-950 | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.dark\:border-yellow-950 {
    &:is(.dark *) {
      border-color: var(--color-yellow-950);
    }
  }
}
