/*! Component Root Index via @import | Layer: kt-link | Generated 2025-11-08 03:31:24 +0000 */
@import url("./kt-link-dashed.css");
@import url("./kt-link-disabled.css");
@import url("./kt-link-inverse.css");
@import url("./kt-link-lg.css");
@import url("./kt-link-mono.css");
@import url("./kt-link-root.css");
@import url("./kt-link-sm.css");
@import url("./kt-link-underline.css");
@import url("./kt-link-underlined.css");
