/*! Utility: \[\active\&\]\:bg-background | Layer: utilities | Generated 2025-11-08 03:31:17 +0000 */
@layer utilities {
.\[\.active\&\]\:bg-background {
    .active& {
      background-color: var(--background);
    }
  }
}
