/*! Utility: mb-1 | Layer: utilities | Generated 2025-11-08 03:31:13 +0000 */
@layer utilities {
.mb-1 {
    margin-bottom: calc(var(--spacing) * 1);
  }

.mb-1\.5 {
    margin-bottom: calc(var(--spacing) * 1.5);
  }

.mb-10 {
    margin-bottom: calc(var(--spacing) * 10);
  }

.mb-12 {
    margin-bottom: calc(var(--spacing) * 12);
  }

.mb-16 {
    margin-bottom: calc(var(--spacing) * 16);
  }
}
