/*! Utility: mb-4 | Layer: utilities | Generated 2025-11-08 03:31:13 +0000 */
@layer utilities {
.mb-4 {
    margin-bottom: calc(var(--spacing) * 4);
  }

.mb-4\.5 {
    margin-bottom: calc(var(--spacing) * 4.5);
  }
}
