/*! Component: kt-alert-content | Layer: components | Generated 2025-11-08 03:31:18 +0000 */
@layer components {
.kt-alert-content {
    width: 100%;
    flex-grow: 1;
    :where(& > :not(:last-child)) {
      --tw-space-y-reverse: 0;
      margin-block-start: calc(calc(var(--spacing) * 1.5) * var(--tw-space-y-reverse));
      margin-block-end: calc(calc(var(--spacing) * 1.5) * calc(1 - var(--tw-space-y-reverse)));
    }
    .kt-alert-title {
      --tw-font-weight: var(--font-weight-semibold);
      font-weight: var(--font-weight-semibold);
    }
  }
}
