/*! Component: kt-alert-success | Layer: components | Generated 2025-11-08 03:31:18 +0000 */
@layer components {
.kt-alert-success {
    background-color: var(--color-green-500);
    color: var(--color-white);
    .kt-alert-close > svg {
      color: var(--color-white);
    }
  }

.kt-alert-success {
      .kt-alert-icon {
        color: var(--color-green-500);
      }
    }

.kt-alert-success {
      border-style: var(--tw-border-style);
      border-width: 1px;
      border-color: var(--border);
      background-color: var(--background);
      color: var(--color-green-500);
    }

.kt-alert-success {
      border-style: var(--tw-border-style);
      border-width: 1px;
      border-color: var(--color-green-200);
      background-color: var(--color-green-50);
      color: var(--foreground);
      &:is(.dark *) {
        border-color: color-mix(in srgb, oklch(26.6% 0.065 152.934) 50%, transparent);
        @supports (color: color-mix(in lab, red, red)) {
          border-color: color-mix(in oklab, var(--color-green-950) 50%, transparent);
        }
      }
      &:is(.dark *) {
        background-color: color-mix(in srgb, oklch(26.6% 0.065 152.934) 30%, transparent);
        @supports (color: color-mix(in lab, red, red)) {
          background-color: color-mix(in oklab, var(--color-green-950) 30%, transparent);
        }
      }
      .kt-alert-icon > svg {
        color: var(--color-green-500);
      }
    }
}
