/*! Component: kt-alert-info | Layer: components | Generated 2025-11-08 03:31:18 +0000 */
@layer components {
.kt-alert-info {
    background-color: var(--color-violet-600);
    color: var(--color-white);
    .kt-alert-close > svg {
      color: var(--color-white);
    }
  }

.kt-alert-info {
      .kt-alert-icon {
        color: var(--color-violet-600);
      }
    }

.kt-alert-info {
      border-style: var(--tw-border-style);
      border-width: 1px;
      border-color: var(--border);
      background-color: var(--background);
      color: var(--color-violet-600);
    }

.kt-alert-info {
      border-style: var(--tw-border-style);
      border-width: 1px;
      border-color: var(--color-violet-200);
      background-color: var(--color-violet-50);
      color: var(--foreground);
      &:is(.dark *) {
        border-color: color-mix(in srgb, oklch(28.3% 0.141 291.089) 50%, transparent);
        @supports (color: color-mix(in lab, red, red)) {
          border-color: color-mix(in oklab, var(--color-violet-950) 50%, transparent);
        }
      }
      &:is(.dark *) {
        background-color: color-mix(in srgb, oklch(28.3% 0.141 291.089) 30%, transparent);
        @supports (color: color-mix(in lab, red, red)) {
          background-color: color-mix(in oklab, var(--color-violet-950) 30%, transparent);
        }
      }
      .kt-alert-icon > svg {
        color: var(--color-violet-500);
      }
    }
}
