/*! Component: kt-alert-warning | Layer: components | Generated 2025-11-08 03:31:18 +0000 */
@layer components {
.kt-alert-warning {
    background-color: var(--color-yellow-500);
    color: var(--color-white);
    .kt-alert-close > svg {
      color: var(--color-white);
    }
  }

.kt-alert-warning {
      .kt-alert-icon {
        color: var(--color-yellow-500);
      }
    }

.kt-alert-warning {
      border-style: var(--tw-border-style);
      border-width: 1px;
      border-color: var(--border);
      background-color: var(--background);
      color: var(--color-yellow-500);
    }

.kt-alert-warning {
      border-style: var(--tw-border-style);
      border-width: 1px;
      border-color: var(--color-yellow-200);
      background-color: var(--color-yellow-50);
      color: var(--foreground);
      &:is(.dark *) {
        border-color: color-mix(in srgb, oklch(28.6% 0.066 53.813) 50%, transparent);
        @supports (color: color-mix(in lab, red, red)) {
          border-color: color-mix(in oklab, var(--color-yellow-950) 50%, transparent);
        }
      }
      &:is(.dark *) {
        background-color: color-mix(in srgb, oklch(28.6% 0.066 53.813) 30%, transparent);
        @supports (color: color-mix(in lab, red, red)) {
          background-color: color-mix(in oklab, var(--color-yellow-950) 30%, transparent);
        }
      }
      .kt-alert-icon > svg {
        color: var(--color-yellow-500);
      }
    }
}
