/*! Component: kt-alert-actions | Layer: components | Generated 2025-11-08 03:31:18 +0000 */
@layer components {
.kt-alert-actions {
    display: flex;
    align-items: center;
    gap: calc(var(--spacing) * 2);
  }
}
