/*! Utility: \[--header-height-mobile\:70px\] | Layer: utilities | Generated 2025-11-08 03:31:15 +0000 */
@layer utilities {
.\[--header-height-mobile\:70px\] {
    --header-height-mobile: 70px;
  }
}
