/*! Utility: has-checked\:border-primary | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.has-checked\:border-primary {
    &:has(*:checked) {
      border-color: var(--primary);
    }
  }
}
