/*! Utility: ring-primary\/20 | Layer: utilities | Generated 2025-11-08 03:31:15 +0000 */
@layer utilities {
.ring-primary\/20 {
    --tw-ring-color: var(--primary);
    @supports (color: color-mix(in lab, red, red)) {
      --tw-ring-color: color-mix(in oklab, var(--primary) 20%, transparent);
    }
  }
}
