/*! Component: kt-image-input-placeholder | Layer: components | Generated 2025-11-08 03:31:19 +0000 */
@layer components {
.kt-image-input-placeholder {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: calc(infinity * 1px);
    border-style: var(--tw-border-style);
    border-width: 1px;
    border-color: var(--border);
    background-size: cover;
    background-repeat: no-repeat;
    [data-kt-image-input-initialized].empty & {
      border-color: var(--border);
    }
  }
}
