/*! Component: kt-image-input-preview | Layer: components | Generated 2025-11-08 03:31:19 +0000 */
@layer components {
.kt-image-input-preview {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: calc(infinity * 1px);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
