/*! Utility: \[\active\&\]\:border-input | Layer: utilities | Generated 2025-11-08 03:31:17 +0000 */
@layer utilities {
.\[\.active\&\]\:border-input {
    .active& {
      border-color: var(--input);
    }
  }
}
