/*! Utility: border-\[0\5px\] | Layer: utilities | Generated 2025-11-08 03:31:14 +0000 */
@layer utilities {
.border-\[0\.5px\] {
    border-style: var(--tw-border-style);
    border-width: 0.5px;
  }
}
