/*! Utility: border-s | Layer: utilities | Generated 2025-11-08 03:31:14 +0000 */
@layer utilities {
.border-separate {
    border-collapse: separate;
  }

.border-spacing-0 {
    --tw-border-spacing-x: calc(var(--spacing) * 0);
    --tw-border-spacing-y: calc(var(--spacing) * 0);
    border-spacing: var(--tw-border-spacing-x) var(--tw-border-spacing-y);
  }

.border-s {
    border-inline-start-style: var(--tw-border-style);
    border-inline-start-width: 1px;
  }

.border-s-2 {
    border-inline-start-style: var(--tw-border-style);
    border-inline-start-width: 2px;
  }

.border-s-border {
    border-inline-start-color: var(--border);
  }

.border-s-input {
    border-inline-start-color: var(--input);
  }
}
