/*! Utility: border-y | Layer: utilities | Generated 2025-11-08 03:31:14 +0000 */
@layer utilities {
.border-y {
    border-block-style: var(--tw-border-style);
    border-block-width: 1px;
  }

.border-yellow-500 {
    border-color: var(--color-yellow-500);
  }
}
