/*! Utility: border-e | Layer: utilities | Generated 2025-11-08 03:31:14 +0000 */
@layer utilities {
.border-e {
    border-inline-end-style: var(--tw-border-style);
    border-inline-end-width: 1px;
  }

.border-e-border {
    border-inline-end-color: var(--border);
  }

.border-e-input {
    border-inline-end-color: var(--input);
  }
}
