/*! Utility: border-t | Layer: utilities | Generated 2025-11-08 03:31:14 +0000 */
@layer utilities {
.border-t {
    border-top-style: var(--tw-border-style);
    border-top-width: 1px;
  }

.border-transparent {
    border-color: transparent;
  }

.border-t-border {
    border-top-color: var(--border);
  }
}
