/*! Utility: border-black\/10\! | Layer: utilities | Generated 2025-11-08 03:31:14 +0000 */
@layer utilities {
.border-black\/10\! {
    border-color: color-mix(in srgb, #000 10%, transparent) !important;
    @supports (color: color-mix(in lab, red, red)) {
      border-color: color-mix(in oklab, var(--color-black) 10%, transparent) !important;
    }
  }
}
