/*! Utility: border-primary\/10 | Layer: utilities | Generated 2025-11-08 03:31:14 +0000 */
@layer utilities {
.border-primary\/10 {
    border-color: var(--primary);
    @supports (color: color-mix(in lab, red, red)) {
      border-color: color-mix(in oklab, var(--primary) 10%, transparent);
    }
  }
}
