/*! Utility: translate-y-2 | Layer: utilities | Generated 2025-11-08 03:31:14 +0000 */
@layer utilities {
.translate-y-2 {
    --tw-translate-y: calc(var(--spacing) * 2);
    translate: var(--tw-translate-x) var(--tw-translate-y);
  }
}
