/*! Utility: flex-col | Layer: utilities | Generated 2025-11-08 03:31:14 +0000 */
@layer utilities {
.flex-col {
    flex-direction: column;
  }

.flex-col-reverse {
    flex-direction: column-reverse;
  }
}
