/*! Utility: flex | Layer: utilities | Generated 2025-11-08 03:31:13 +0000 */
@layer utilities {
.flex {
    display: flex;
  }

.flex-1 {
    flex: 1;
  }

.flex-shrink {
    flex-shrink: 1;
  }

.flex-grow {
    flex-grow: 1;
  }

.flex-col {
    flex-direction: column;
  }

.flex-col-reverse {
    flex-direction: column-reverse;
  }

.flex-row {
    flex-direction: row;
  }

.flex-nowrap {
    flex-wrap: nowrap;
  }

.flex-wrap {
    flex-wrap: wrap;
  }
}
