/*! Utility: lg\:\[--kt-reparent-target\:\#headerContainer\] | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.lg\:\[--kt-reparent-target\:\#headerContainer\] {
    @media (width >= 64rem) {
      --kt-reparent-target: #headerContainer;
    }
  }
}
