/*! Utility: before\:rounded-full | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.before\:rounded-full {
    &::before {
      content: var(--tw-content);
      border-radius: calc(infinity * 1px);
    }
  }
}
