/*! Utility: p-0 | Layer: utilities | Generated 2025-11-08 03:31:15 +0000 */
@layer utilities {
.p-0 {
    padding: calc(var(--spacing) * 0);
  }

.p-0\.5 {
    padding: calc(var(--spacing) * 0.5);
  }
}
