/*! Utility: p-1 | Layer: utilities | Generated 2025-11-08 03:31:15 +0000 */
@layer utilities {
.p-1 {
    padding: calc(var(--spacing) * 1);
  }

.p-1\.5 {
    padding: calc(var(--spacing) * 1.5);
  }

.p-10 {
    padding: calc(var(--spacing) * 10);
  }
}
