/*! Utility: p-3 | Layer: utilities | Generated 2025-11-08 03:31:15 +0000 */
@layer utilities {
.p-3 {
    padding: calc(var(--spacing) * 3);
  }

.p-3\.5 {
    padding: calc(var(--spacing) * 3.5);
  }
}
