/*! Utility: p-7 | Layer: utilities | Generated 2025-11-08 03:31:15 +0000 */
@layer utilities {
.p-7 {
    padding: calc(var(--spacing) * 7);
  }

.p-7\.5 {
    padding: calc(var(--spacing) * 7.5);
  }
}
