/*! Utility: lg\:\[scrollbar-width\:auto\] | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.lg\:\[scrollbar-width\:auto\] {
    @media (width >= 64rem) {
      scrollbar-width: auto;
    }
  }
}
