/*! Utility: active | Layer: utilities | Generated 2025-11-08 03:31:17 +0000 */
@layer utilities {
.active {
      display: none;
    }

.active > [data-kt-accordion-toggle] & {
      display: none;
    }

.active > [data-kt-accordion-toggle]& {
      display: none;
    }

.active {
      display: inline-flex;
    }

.active > [data-kt-accordion-toggle] & {
      display: inline-flex;
    }

.active > [data-kt-accordion-toggle]& {
      display: inline-flex;
    }

.active {
      --tw-font-weight: var(--font-weight-medium);
      font-weight: var(--font-weight-medium);
    }

.active & {
      --tw-font-weight: var(--font-weight-medium);
      font-weight: var(--font-weight-medium);
    }

.active {
      color: var(--primary);
    }

.active & {
      color: var(--primary);
    }

.active {
      &::before {
        content: var(--tw-content);
        background-color: var(--primary);
      }
    }

.active & {
      &::before {
        content: var(--tw-content);
        background-color: var(--primary);
      }
    }

.active {
      border-color: var(--primary);
      @supports (color: color-mix(in lab, red, red)) {
        border-color: color-mix(in oklab, var(--primary) 10%, transparent);
      }
    }

.active & {
      border-color: var(--primary);
      @supports (color: color-mix(in lab, red, red)) {
        border-color: color-mix(in oklab, var(--primary) 10%, transparent);
      }
    }

.active)	& {
      border-color: var(--primary);
      @supports (color: color-mix(in lab, red, red)) {
        border-color: color-mix(in oklab, var(--primary) 10%, transparent);
      }
    }

.active {
      background-color: var(--primary);
      @supports (color: color-mix(in lab, red, red)) {
        background-color: color-mix(in oklab, var(--primary) 10%, transparent);
      }
    }

.active & {
      background-color: var(--primary);
      @supports (color: color-mix(in lab, red, red)) {
        background-color: color-mix(in oklab, var(--primary) 10%, transparent);
      }
    }

.active)	& {
      background-color: var(--primary);
      @supports (color: color-mix(in lab, red, red)) {
        background-color: color-mix(in oklab, var(--primary) 10%, transparent);
      }
    }

.active {
      color: var(--primary);
    }

.active & {
      color: var(--primary);
    }

.active)	& {
      color: var(--primary);
    }

.active {
      rotate: 180deg;
    }

.active & {
      rotate: 180deg;
    }

.active {
        rotate: 0deg;
      }

.active & {
        rotate: 0deg;
      }

.active {
      display: block;
    }

.active & {
      display: block;
    }

.active {
      display: none;
    }

.active & {
      display: none;
    }

.active {
      border-radius: var(--radius);
    }

.active & {
      border-radius: var(--radius);
    }

.active > .kt-menu-link & {
      border-radius: var(--radius);
    }

.active > .kt-menu-link.& {
      border-radius: var(--radius);
    }

.active > .kt-menu-label & {
      border-radius: var(--radius);
    }

.active > .kt-menu-label.& {
      border-radius: var(--radius);
    }

.active > .kt-menu-toggle & {
      border-radius: var(--radius);
    }

.active > .kt-menu-toggle.& {
      border-radius: var(--radius);
    }

.active {
      --tw-border-style: none;
      border-style: none;
    }

.active & {
      --tw-border-style: none;
      border-style: none;
    }

.active > .kt-menu-link & {
      --tw-border-style: none;
      border-style: none;
    }

.active > .kt-menu-link.& {
      --tw-border-style: none;
      border-style: none;
    }

.active > .kt-menu-label & {
      --tw-border-style: none;
      border-style: none;
    }

.active > .kt-menu-label.& {
      --tw-border-style: none;
      border-style: none;
    }

.active > .kt-menu-toggle & {
      --tw-border-style: none;
      border-style: none;
    }

.active > .kt-menu-toggle.& {
      --tw-border-style: none;
      border-style: none;
    }

.active {
      border-color: var(--border);
    }

.active & {
      border-color: var(--border);
    }

.active > .kt-menu-link & {
      border-color: var(--border);
    }

.active > .kt-menu-link.& {
      border-color: var(--border);
    }

.active > .kt-menu-label & {
      border-color: var(--border);
    }

.active > .kt-menu-label.& {
      border-color: var(--border);
    }

.active > .kt-menu-toggle & {
      border-color: var(--border);
    }

.active > .kt-menu-toggle.& {
      border-color: var(--border);
    }

.active {
      border-bottom-color: var(--color-gray-400);
    }

.active & {
      border-bottom-color: var(--color-gray-400);
    }

.active > .kt-menu-link & {
      border-bottom-color: var(--color-gray-400);
    }

.active > .kt-menu-link.& {
      border-bottom-color: var(--color-gray-400);
    }

.active > .kt-menu-label & {
      border-bottom-color: var(--color-gray-400);
    }

.active > .kt-menu-label.& {
      border-bottom-color: var(--color-gray-400);
    }

.active > .kt-menu-toggle & {
      border-bottom-color: var(--color-gray-400);
    }

.active > .kt-menu-toggle.& {
      border-bottom-color: var(--color-gray-400);
    }

.active {
      border-bottom-color: var(--mono);
    }

.active & {
      border-bottom-color: var(--mono);
    }

.active > .kt-menu-link & {
      border-bottom-color: var(--mono);
    }

.active > .kt-menu-link.& {
      border-bottom-color: var(--mono);
    }

.active > .kt-menu-label & {
      border-bottom-color: var(--mono);
    }

.active > .kt-menu-label.& {
      border-bottom-color: var(--mono);
    }

.active > .kt-menu-toggle & {
      border-bottom-color: var(--mono);
    }

.active > .kt-menu-toggle.& {
      border-bottom-color: var(--mono);
    }

.active {
      border-bottom-color: var(--primary);
    }

.active & {
      border-bottom-color: var(--primary);
    }

.active > .kt-menu-link & {
      border-bottom-color: var(--primary);
    }

.active > .kt-menu-link.& {
      border-bottom-color: var(--primary);
    }

.active > .kt-menu-label & {
      border-bottom-color: var(--primary);
    }

.active > .kt-menu-label.& {
      border-bottom-color: var(--primary);
    }

.active > .kt-menu-toggle & {
      border-bottom-color: var(--primary);
    }

.active > .kt-menu-toggle.& {
      border-bottom-color: var(--primary);
    }

.active {
      background-color: var(--background) !important;
    }

.active & {
      background-color: var(--background) !important;
    }

.active > .kt-menu-link & {
      background-color: var(--background) !important;
    }

.active > .kt-menu-link.& {
      background-color: var(--background) !important;
    }

.active > .kt-menu-label & {
      background-color: var(--background) !important;
    }

.active > .kt-menu-label.& {
      background-color: var(--background) !important;
    }

.active > .kt-menu-toggle & {
      background-color: var(--background) !important;
    }

.active > .kt-menu-toggle.& {
      background-color: var(--background) !important;
    }

.active {
      background-color: var(--accent);
      @supports (color: color-mix(in lab, red, red)) {
        background-color: color-mix(in oklab, var(--accent) 60%, transparent);
      }
    }

.active & {
      background-color: var(--accent);
      @supports (color: color-mix(in lab, red, red)) {
        background-color: color-mix(in oklab, var(--accent) 60%, transparent);
      }
    }

.active > .kt-menu-link & {
      background-color: var(--accent);
      @supports (color: color-mix(in lab, red, red)) {
        background-color: color-mix(in oklab, var(--accent) 60%, transparent);
      }
    }

.active > .kt-menu-link.& {
      background-color: var(--accent);
      @supports (color: color-mix(in lab, red, red)) {
        background-color: color-mix(in oklab, var(--accent) 60%, transparent);
      }
    }

.active > .kt-menu-label & {
      background-color: var(--accent);
      @supports (color: color-mix(in lab, red, red)) {
        background-color: color-mix(in oklab, var(--accent) 60%, transparent);
      }
    }

.active > .kt-menu-label.& {
      background-color: var(--accent);
      @supports (color: color-mix(in lab, red, red)) {
        background-color: color-mix(in oklab, var(--accent) 60%, transparent);
      }
    }

.active > .kt-menu-toggle & {
      background-color: var(--accent);
      @supports (color: color-mix(in lab, red, red)) {
        background-color: color-mix(in oklab, var(--accent) 60%, transparent);
      }
    }

.active > .kt-menu-toggle.& {
      background-color: var(--accent);
      @supports (color: color-mix(in lab, red, red)) {
        background-color: color-mix(in oklab, var(--accent) 60%, transparent);
      }
    }

.active {
      background-color: var(--background);
    }

.active & {
      background-color: var(--background);
    }

.active > .kt-menu-link & {
      background-color: var(--background);
    }

.active > .kt-menu-link.& {
      background-color: var(--background);
    }

.active > .kt-menu-label & {
      background-color: var(--background);
    }

.active > .kt-menu-label.& {
      background-color: var(--background);
    }

.active > .kt-menu-toggle & {
      background-color: var(--background);
    }

.active > .kt-menu-toggle.& {
      background-color: var(--background);
    }

.active {
      background-color: var(--secondary);
    }

.active & {
      background-color: var(--secondary);
    }

.active > .kt-menu-link & {
      background-color: var(--secondary);
    }

.active > .kt-menu-link.& {
      background-color: var(--secondary);
    }

.active > .kt-menu-label & {
      background-color: var(--secondary);
    }

.active > .kt-menu-label.& {
      background-color: var(--secondary);
    }

.active > .kt-menu-toggle & {
      background-color: var(--secondary);
    }

.active > .kt-menu-toggle.& {
      background-color: var(--secondary);
    }

.active {
      --tw-font-weight: var(--font-weight-medium);
      font-weight: var(--font-weight-medium);
    }

.active & {
      --tw-font-weight: var(--font-weight-medium);
      font-weight: var(--font-weight-medium);
    }

.active > .kt-menu-link & {
      --tw-font-weight: var(--font-weight-medium);
      font-weight: var(--font-weight-medium);
    }

.active > .kt-menu-link.& {
      --tw-font-weight: var(--font-weight-medium);
      font-weight: var(--font-weight-medium);
    }

.active > .kt-menu-label & {
      --tw-font-weight: var(--font-weight-medium);
      font-weight: var(--font-weight-medium);
    }

.active > .kt-menu-label.& {
      --tw-font-weight: var(--font-weight-medium);
      font-weight: var(--font-weight-medium);
    }

.active > .kt-menu-toggle & {
      --tw-font-weight: var(--font-weight-medium);
      font-weight: var(--font-weight-medium);
    }

.active > .kt-menu-toggle.& {
      --tw-font-weight: var(--font-weight-medium);
      font-weight: var(--font-weight-medium);
    }

.active {
      --tw-font-weight: var(--font-weight-semibold);
      font-weight: var(--font-weight-semibold);
    }

.active & {
      --tw-font-weight: var(--font-weight-semibold);
      font-weight: var(--font-weight-semibold);
    }

.active > .kt-menu-link & {
      --tw-font-weight: var(--font-weight-semibold);
      font-weight: var(--font-weight-semibold);
    }

.active > .kt-menu-link.& {
      --tw-font-weight: var(--font-weight-semibold);
      font-weight: var(--font-weight-semibold);
    }

.active > .kt-menu-label & {
      --tw-font-weight: var(--font-weight-semibold);
      font-weight: var(--font-weight-semibold);
    }

.active > .kt-menu-label.& {
      --tw-font-weight: var(--font-weight-semibold);
      font-weight: var(--font-weight-semibold);
    }

.active > .kt-menu-toggle & {
      --tw-font-weight: var(--font-weight-semibold);
      font-weight: var(--font-weight-semibold);
    }

.active > .kt-menu-toggle.& {
      --tw-font-weight: var(--font-weight-semibold);
      font-weight: var(--font-weight-semibold);
    }

.active {
      color: var(--foreground);
    }

.active & {
      color: var(--foreground);
    }

.active > .kt-menu-link & {
      color: var(--foreground);
    }

.active > .kt-menu-link.& {
      color: var(--foreground);
    }

.active > .kt-menu-label & {
      color: var(--foreground);
    }

.active > .kt-menu-label.& {
      color: var(--foreground);
    }

.active > .kt-menu-toggle & {
      color: var(--foreground);
    }

.active > .kt-menu-toggle.& {
      color: var(--foreground);
    }

.active {
      color: var(--mono);
    }

.active & {
      color: var(--mono);
    }

.active > .kt-menu-link & {
      color: var(--mono);
    }

.active > .kt-menu-link.& {
      color: var(--mono);
    }

.active > .kt-menu-label & {
      color: var(--mono);
    }

.active > .kt-menu-label.& {
      color: var(--mono);
    }

.active > .kt-menu-toggle & {
      color: var(--mono);
    }

.active > .kt-menu-toggle.& {
      color: var(--mono);
    }

.active {
      color: var(--primary);
    }

.active & {
      color: var(--primary);
    }

.active > .kt-menu-link & {
      color: var(--primary);
    }

.active > .kt-menu-link.& {
      color: var(--primary);
    }

.active > .kt-menu-label & {
      color: var(--primary);
    }

.active > .kt-menu-label.& {
      color: var(--primary);
    }

.active > .kt-menu-toggle & {
      color: var(--primary);
    }

.active > .kt-menu-toggle.& {
      color: var(--primary);
    }

.active {
      &::before {
        content: var(--tw-content);
        background-color: var(--primary);
      }
    }

.active & {
      &::before {
        content: var(--tw-content);
        background-color: var(--primary);
      }
    }

.active > .kt-menu-link & {
      &::before {
        content: var(--tw-content);
        background-color: var(--primary);
      }
    }

.active > .kt-menu-link.& {
      &::before {
        content: var(--tw-content);
        background-color: var(--primary);
      }
    }

.active > .kt-menu-label & {
      &::before {
        content: var(--tw-content);
        background-color: var(--primary);
      }
    }

.active > .kt-menu-label.& {
      &::before {
        content: var(--tw-content);
        background-color: var(--primary);
      }
    }

.active > .kt-menu-toggle & {
      &::before {
        content: var(--tw-content);
        background-color: var(--primary);
      }
    }

.active > .kt-menu-toggle.& {
      &::before {
        content: var(--tw-content);
        background-color: var(--primary);
      }
    }

.active\]\:bg-primary\/10 {
    &.active {
      background-color: var(--primary);
      @supports (color: color-mix(in lab, red, red)) {
        background-color: color-mix(in oklab, var(--primary) 10%, transparent);
      }
    }
  }

.active\]\:\[\&_i\]\:text-primary {
    &.active {
      & i {
        color: var(--primary);
      }
    }
  }

.active\&\]\:border-border {
    .active& {
      border-color: var(--border);
    }
  }

.active\&\]\:border-input {
    .active& {
      border-color: var(--input);
    }
  }

.active\&\]\:bg-background {
    .active& {
      background-color: var(--background);
    }
  }

.active\&\]\:\[\&_i\]\:text-primary {
    .active& {
      & i {
        color: var(--primary);
      }
    }
  }
}
