 <div class="kt-card-table">
            <div class="grid" data-kt-datatable="true" data-kt-datatable-page-size="5" id="teams_datatable">
             <div class="kt-scrollable-x-auto">
              <%= render 'metronic/layouts/partials/page/main/content/tables/table_teams' %>
             </div>
             <%= render 'metronic/layouts/partials/page/main/content/cards/kt-card-table/kt-card-footer/teams_datatable_footer' %>
            </div>
           </div>