/*! Utility: lg\:gap-2 | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.lg\:gap-2 {
    @media (width >= 64rem) {
      gap: calc(var(--spacing) * 2);
    }
  }

.lg\:gap-2\.5 {
    @media (width >= 64rem) {
      gap: calc(var(--spacing) * 2.5);
    }
  }

.lg\:gap-20 {
    @media (width >= 64rem) {
      gap: calc(var(--spacing) * 20);
    }
  }
}
