/*! Utility: lg\:gap-3\5 | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.lg\:gap-3\.5 {
    @media (width >= 64rem) {
      gap: calc(var(--spacing) * 3.5);
    }
  }
}
