/*! Utility: lg\:gap-4 | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.lg\:gap-4 {
    @media (width >= 64rem) {
      gap: calc(var(--spacing) * 4);
    }
  }

.lg\:gap-4\.5 {
    @media (width >= 64rem) {
      gap: calc(var(--spacing) * 4.5);
    }
  }
}
