/*! Component: kt-modal-body | Layer: components | Generated 2025-11-08 03:31:19 +0000 */
@layer components {
.kt-modal-body {
    overflow-y: auto;
    padding-inline: calc(var(--spacing) * 5);
    padding-block: calc(var(--spacing) * 4);
  }
}
