/*! Component: kt-modal-fit | Layer: components | Generated 2025-11-08 03:31:19 +0000 */
@layer components {
.kt-modal-fit) {
    .kt-modal-content {
      top: calc(1/2 * 100%);
      --tw-translate-y: calc(calc(1/2 * 100%) * -1);
      translate: var(--tw-translate-x) var(--tw-translate-y);
    }
  }

.kt-modal-fit {
    overflow: visible;
    padding: calc(var(--spacing) * 0);
    &.kt-modal-center {
      inset-inline-start: calc(1/2 * 100%);
      top: calc(1/2 * 100%);
      --tw-translate-x: calc(calc(1/2 * 100%) * -1);
      translate: var(--tw-translate-x) var(--tw-translate-y);
      --tw-translate-y: calc(calc(1/2 * 100%) * -1);
      translate: var(--tw-translate-x) var(--tw-translate-y);
    }
  }
}
