/*! Utility: data-\[kt-sticky-header\=on\]\:\[--header-height\:60px\] | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.data-\[kt-sticky-header\=on\]\:\[--header-height\:60px\] {
    &[data-kt-sticky-header="on"] {
      --header-height: 60px;
    }
  }
}
