/*! Utility: rtl\:bg-\[left_top_-1\7rem\] | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.rtl\:bg-\[left_top_-1\.7rem\] {
    &:where(:dir(rtl), [dir="rtl"], [dir="rtl"] *) {
      background-position: left top -1.7rem;
    }
  }
}
