/*! Component: kt-table-border-s | Layer: components | Generated 2025-11-08 03:31:21 +0000 */
@layer components {
.kt-table-border-s {
    border-inline-start-style: var(--tw-border-style);
    border-inline-start-width: 1px;
    border-color: var(--border);
  }
}
