/*! Component: kt-table-border-b | Layer: components | Generated 2025-11-08 03:31:21 +0000 */
@layer components {
.kt-table-border-b {
    border-bottom-style: var(--tw-border-style);
    border-bottom-width: 1px;
    border-color: var(--border);
  }
}
