/*! Component: kt-table-col-label | Layer: components | Generated 2025-11-08 03:31:21 +0000 */
@layer components {
.kt-table-col-label {
    display: inline-flex;
    align-items: center;
    flex-wrap: nowrap;
    white-space: nowrap;
    gap: 0.35rem;
  }
}
