/*! Component: kt-table-wrapper | Layer: components | Generated 2025-11-08 03:31:21 +0000 */
@layer components {
.kt-table-wrapper {
    position: relative;
    width: 100%;
    overflow: auto;
  }
}
