/*! Component: kt-table-border-t | Layer: components | Generated 2025-11-08 03:31:21 +0000 */
@layer components {
.kt-table-border-t {
    border-top-style: var(--tw-border-style);
    border-top-width: 1px;
    border-color: var(--border);
  }
}
