/*! Component: kt-table-border-e | Layer: components | Generated 2025-11-08 03:31:21 +0000 */
@layer components {
.kt-table-border-e {
    border-inline-end-style: var(--tw-border-style);
    border-inline-end-width: 1px;
    border-color: var(--border);
  }
}
