/*! Component Root Index via @import | Layer: kt-table | Generated 2025-11-08 03:31:24 +0000 */
@import url("./kt-table-border-b.css");
@import url("./kt-table-border-e.css");
@import url("./kt-table-border-s.css");
@import url("./kt-table-border-t.css");
@import url("./kt-table-border.css");
@import url("./kt-table-cell-center.css");
@import url("./kt-table-col-label.css");
@import url("./kt-table-col-sort.css");
@import url("./kt-table-col.css");
@import url("./kt-table-highlight.css");
@import url("./kt-table-root.css");
@import url("./kt-table-wrapper.css");
