/*! Utility: lg\:pt-4 | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.lg\:pt-4 {
    @media (width >= 64rem) {
      padding-top: calc(var(--spacing) * 4);
    }
  }
}
