/*! Utility: lg\:p-7 | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.lg\:p-7 {
    @media (width >= 64rem) {
      padding: calc(var(--spacing) * 7);
    }
  }

.lg\:p-7\.5 {
    @media (width >= 64rem) {
      padding: calc(var(--spacing) * 7.5);
    }
  }
}
