/*! Utility: lg\:items-stretch | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.lg\:items-stretch {
    @media (width >= 64rem) {
      align-items: stretch;
    }
  }
}
