/*! Component: kt-pagination-ellipsis | Layer: components | Generated 2025-11-08 03:31:22 +0000 */
@layer components {
.kt-pagination-ellipsis {
    display: flex;
    height: calc(var(--spacing) * 9);
    width: calc(var(--spacing) * 9);
    align-items: center;
    justify-content: center;
    svg {
      width: calc(var(--spacing) * 4);
      height: calc(var(--spacing) * 4);
      color: var(--muted-foreground);
    }
  }
}
