/*! Component Root Index via @import | Layer: kt-pagination | Generated 2025-11-08 03:31:24 +0000 */
@import url("./kt-pagination-ellipsis.css");
@import url("./kt-pagination-item.css");
@import url("./kt-pagination-root.css");
