/*! Utility: lg\:\[--kt-drawer-enable\:false\] | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.lg\:\[--kt-drawer-enable\:false\] {
    @media (width >= 64rem) {
      --kt-drawer-enable: false;
    }
  }
}
