/*! Utility: lg\:ms-\(--sidebar-width\) | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.lg\:ms-\(--sidebar-width\) {
    @media (width >= 64rem) {
      margin-inline-start: var(--sidebar-width);
    }
  }
}
