/*! Utility: checked | Layer: utilities | Generated 2025-11-08 03:31:17 +0000 */
@layer utilities {
.checked\]\:flex {
    &:has(*:checked) {
      & .checked {
        display: flex;
      }
    }
  }
}
