/*! Utility: table | Layer: utilities | Generated 2025-11-08 03:31:13 +0000 */
@layer utilities {
.table {
    display: table;
  }

.table-auto {
    table-layout: auto;
  }

.table-fixed {
    table-layout: fixed;
  }
}
