/*! Utility: lg\:mb-7 | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.lg\:mb-7 {
    @media (width >= 64rem) {
      margin-bottom: calc(var(--spacing) * 7);
    }
  }

.lg\:mb-7\.5 {
    @media (width >= 64rem) {
      margin-bottom: calc(var(--spacing) * 7.5);
    }
  }
}
