/*! Utility: top-\[calc\(var\(--header-height\)\+1\5rem\)\] | Layer: utilities | Generated 2025-11-08 03:31:13 +0000 */
@layer utilities {
.top-\[calc\(var\(--header-height\)\+1\.5rem\)\] {
    top: calc(var(--header-height) + 1.5rem);
  }
}
