<!-- Topbar -->
<div class="flex items-center gap-2.5">

        <%#= render 'metronic/layouts/partials/page/main/kt-header/topbar/buttons' %>
        <%#= render 'metronic/layouts/partials/page/main/kt-header/topbar/drawers' %>
        <%#= render 'metronic/layouts/partials/page/main/kt-header/topbar/apps' %>
        <%= render 'metronic/layouts/partials/page/main/kt-header/topbar/users' %>

</div>
<!-- End of Topbar -->