/*! Utility: before\:border-s | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.before\:border-s {
    &::before {
      content: var(--tw-content);
      border-inline-start-style: var(--tw-border-style);
      border-inline-start-width: 1px;
    }
  }
}
