/*! Utility: before\:border-l | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.before\:border-l {
    &::before {
      content: var(--tw-content);
      border-left-style: var(--tw-border-style);
      border-left-width: 1px;
    }
  }
}
