/*! Utility: px-0 | Layer: utilities | Generated 2025-11-08 03:31:15 +0000 */
@layer utilities {
.px-0 {
    padding-inline: calc(var(--spacing) * 0);
  }

.px-0\.5 {
    padding-inline: calc(var(--spacing) * 0.5);
  }
}
