/*! Utility: px-3 | Layer: utilities | Generated 2025-11-08 03:31:15 +0000 */
@layer utilities {
.px-3 {
    padding-inline: calc(var(--spacing) * 3);
  }

.px-3\.5 {
    padding-inline: calc(var(--spacing) * 3.5);
  }
}
