/*! Utility: px-5 | Layer: utilities | Generated 2025-11-08 03:31:15 +0000 */
@layer utilities {
.px-5 {
    padding-inline: calc(var(--spacing) * 5);
  }

.px-5\! {
    padding-inline: calc(var(--spacing) * 5) !important;
  }
}
