/*! Utility: px-7 | Layer: utilities | Generated 2025-11-08 03:31:15 +0000 */
@layer utilities {
.px-7 {
    padding-inline: calc(var(--spacing) * 7);
  }

.px-7\.5 {
    padding-inline: calc(var(--spacing) * 7.5);
  }
}
