<h1>Edit Customer</h1>

<%= render 'form', customer: @customer %>

<%= link_to 'Show', protected_customer_path(@customer), class: 'btn btn-info' %>
<%= link_to 'Back to Customers', protected_customers_path, class: 'btn btn-secondary' %>