/*! Component: kt-header-fixed | Layer: components | Generated 2025-11-08 03:31:24 +0000 */
@layer components {
.kt-header-fixed .kt-wrapper {
    padding-top: var(--header-height);
  }

.kt-header-fixed .kt-header {
      inset-inline-start: var(--sidebar-width) !important;
    }

.kt-header-fixed .kt-wrapper {
      padding-top: var(--header-height);
    }
}
