/*! Utility: hover\:border-border | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.hover\:border-border {
    &:hover {
      @media (hover: hover) {
        border-color: var(--border);
      }
    }
  }
}
