/*! Component: kt-rating-on | Layer: components | Generated 2025-11-08 03:31:24 +0000 */
@layer components {
.kt-rating-on {
    color: var(--color-yellow-400);
  }

.kt-rating-on {
      display: none !important;
    }

.kt-rating-on {
      display: inline-flex !important;
    }

.kt-rating-on {
      display: none !important;
    }

.kt-rating-on {
      display: inline-flex !important;
      position: absolute;
      z-index: 1;
      overflow: hidden;
      inset-inline-start: 0;
    }
}
