/*! Component Root Index via @import | Layer: kt-rating | Generated 2025-11-08 03:31:24 +0000 */
@import url("./kt-rating-input.css");
@import url("./kt-rating-label.css");
@import url("./kt-rating-off.css");
@import url("./kt-rating-on.css");
@import url("./kt-rating-root.css");
