/*! Component: kt-rating | Layer: components | Generated 2025-11-08 03:31:24 +0000 */
@layer components {
.kt-rating {
    display: inline-flex;
    align-items: stretch;
    & input {
      appearance: none;
      position: absolute;
      inset-inline-start: 9999px;
      &[disabled] {
        display: none;
      }
    }
  }

.kt-rating-on {
    color: var(--color-yellow-400);
  }

.kt-rating-off {
    color: var(--muted-foreground);
  }

.kt-rating-label {
    display: inline-flex !important;
    align-items: center;
    & .kt-rating-on {
      display: none !important;
    }
    & .kt-rating-off {
      display: inline-flex !important;
    }
  }

.kt-rating:hover label.kt-rating-label, label.kt-rating-label, label.kt-rating-label.checked, div.kt-rating-label.checked {
    & .kt-rating-on {
      display: inline-flex !important;
    }
    & .kt-rating-off {
      display: none !important;
    }
  }

.kt-rating-label:hover ~ label.kt-rating-label, .kt-rating-input:checked ~ .kt-rating-label {
    & .kt-rating-on {
      display: none !important;
    }
    & .kt-rating-off {
      display: inline-flex !important;
    }
  }

.kt-rating-label.indeterminate {
    position: relative;
    & .kt-rating-on {
      display: inline-flex !important;
      position: absolute;
      z-index: 1;
      overflow: hidden;
      inset-inline-start: 0;
    }
    & .kt-rating-off {
      display: inline-flex !important;
    }
  }

.kt-rating-label {
    cursor: pointer;
  }
}
