    <!-- Footer -->
    <div class="kt-footer bg-background border-t border-t-border py-4 shrink-0" id="footer">
     <div class="kt-container-fixed">
      <div class="flex flex-col items-center justify-between gap-4 lg:flex-row">
       <div class="flex flex-col items-center gap-2 lg:flex-row lg:gap-5">
        <div class="flex items-center gap-2">
         <img alt="" class="dark:hidden h-[22px] max-w-none" src="assets/media/app/default-logo-mini.svg"/>
         <img alt="" class="hidden dark:block h-[22px] max-w-none" src="assets/media/app/default-logo-mini-dark.svg"/>
         <span class="text-sm font-medium text-muted-foreground">
          2024©
         </span>
        </div>
        <div class="flex items-center gap-4">
         <a class="text-sm font-medium text-muted-foreground hover:text-primary" href="#">
          About
         </a>
         <a class="text-sm font-medium text-muted-foreground hover:text-primary" href="#">
          Support
         </a>
         <a class="text-sm font-medium text-muted-foreground hover:text-primary" href="#">
          Purchase
         </a>
        </div>
       </div>
       <div class="flex items-center gap-2">
        <span class="text-sm font-medium text-muted-foreground">
         Crafted by:
        </span>
        <a class="text-sm font-medium text-primary hover:text-primary/80" href="https://keenthemes.com" target="_blank">
         Keenthemes
        </a>
       </div>
      </div>
     </div>
    </div>
    <!-- End of Footer -->