 <div class="kt-sidebar bg-background border-e border-e-border fixed top-0 bottom-0 z-20 hidden lg:flex flex-col items-stretch shrink-0 [--kt-drawer-enable:true] lg:[--kt-drawer-enable:false]" data-kt-drawer="true" data-kt-drawer-class="kt-drawer kt-drawer-start top-0 bottom-0" id="sidebar">
    
    <%= render 'partials/raw/sidebar/sidebar_header' %>
    
    
    <%= render 'partials/raw/sidebar/sidebar_contents' %>
   
</div>