/*! Component: kt-separator | Layer: components | Generated 2025-11-08 03:31:21 +0000 */
@layer components {
.kt-separator {
    height: 1px;
    width: 100%;
    flex-shrink: 0;
    background-color: var(--border);
  }

.kt-separator-vertical {
    height: 100%;
    width: 1px;
  }
}
