/*! Utility: hover\:bg-background | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.hover\:bg-background {
    &:hover {
      @media (hover: hover) {
        background-color: var(--background);
      }
    }
  }
}
