/*! Utility: hover\:bg-blue-50 | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.hover\:bg-blue-50 {
    &:hover {
      @media (hover: hover) {
        background-color: var(--color-blue-50);
      }
    }
  }
}
