/*! Utility: hover\:bg-gray-200 | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.hover\:bg-gray-200 {
    &:hover {
      @media (hover: hover) {
        background-color: var(--color-gray-200);
      }
    }
  }
}
