/*! Utility: rounded | Layer: utilities | Generated 2025-11-08 03:31:14 +0000 */
@layer utilities {
.rounded {
    border-radius: 0.25rem;
  }

.rounded-\[9px\] {
    border-radius: 9px;
  }

.rounded-\[30px\] {
    border-radius: 30px;
  }

.rounded-full {
    border-radius: calc(infinity * 1px);
  }

.rounded-lg {
    border-radius: var(--radius);
  }

.rounded-md {
    border-radius: calc(var(--radius) - 2px);
  }

.rounded-sm {
    border-radius: calc(var(--radius) - 4px);
  }

.rounded-xl {
    border-radius: calc(var(--radius) + 4px);
  }

.rounded-xs {
    border-radius: var(--radius-xs);
  }

.rounded-t {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }

.rounded-t-lg {
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
  }

.rounded-t-xl {
    border-top-left-radius: calc(var(--radius) + 4px);
    border-top-right-radius: calc(var(--radius) + 4px);
  }

.rounded-b {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }

.rounded-b-xl {
    border-bottom-right-radius: calc(var(--radius) + 4px);
    border-bottom-left-radius: calc(var(--radius) + 4px);
  }
}
