/*! Utility: rounded-b-xl | Layer: utilities | Generated 2025-11-08 03:31:14 +0000 */
@layer utilities {
.rounded-b-xl {
    border-bottom-right-radius: calc(var(--radius) + 4px);
    border-bottom-left-radius: calc(var(--radius) + 4px);
  }
}
