/*! Utility: rounded-t-xl | Layer: utilities | Generated 2025-11-08 03:31:14 +0000 */
@layer utilities {
.rounded-t-xl {
    border-top-left-radius: calc(var(--radius) + 4px);
    border-top-right-radius: calc(var(--radius) + 4px);
  }
}
