/*! Utility: rounded-t-lg | Layer: utilities | Generated 2025-11-08 03:31:14 +0000 */
@layer utilities {
.rounded-t-lg {
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
  }
}
