/*! Component Root Index via @import | Layer: kt-badge | Generated 2025-11-08 03:31:24 +0000 */
@import url("./kt-badge-btn.css");
@import url("./kt-badge-destructive.css");
@import url("./kt-badge-disabled.css");
@import url("./kt-badge-dot.css");
@import url("./kt-badge-ghost.css");
@import url("./kt-badge-info.css");
@import url("./kt-badge-lg.css");
@import url("./kt-badge-light.css");
@import url("./kt-badge-mono.css");
@import url("./kt-badge-outline.css");
@import url("./kt-badge-primary.css");
@import url("./kt-badge-root.css");
@import url("./kt-badge-secondary.css");
@import url("./kt-badge-sm.css");
@import url("./kt-badge-stroke.css");
@import url("./kt-badge-success.css");
@import url("./kt-badge-warning.css");
@import url("./kt-badge-xs.css");
