/*! Component: kt-badge-destructive | Layer: components | Generated 2025-11-08 03:31:18 +0000 */
@layer components {
.kt-badge-destructive {
    background-color: var(--destructive);
    color: var(--destructive-foreground);
  }

.kt-badge-destructive.kt-badge-outline {
      border-style: var(--tw-border-style);
      border-width: 1px;
      border-color: var(--color-red-100);
      background-color: var(--color-red-50);
      color: var(--color-red-700);
      &:is(.dark *) {
        border-color: var(--color-red-950);
      }
      &:is(.dark *) {
        background-color: color-mix(in srgb, oklch(25.8% 0.092 26.042) 50%, transparent);
        @supports (color: color-mix(in lab, red, red)) {
          background-color: color-mix(in oklab, var(--color-red-950) 50%, transparent);
        }
      }
      &:is(.dark *) {
        color: var(--color-red-600);
      }
    }

.kt-badge-destructive {
      background-color: var(--color-red-100);
      color: var(--color-red-800);
      &:is(.dark *) {
        background-color: color-mix(in srgb, oklch(25.8% 0.092 26.042) 50%, transparent);
        @supports (color: color-mix(in lab, red, red)) {
          background-color: color-mix(in oklab, var(--color-red-950) 50%, transparent);
        }
      }
      &:is(.dark *) {
        color: var(--color-red-600);
      }
    }

.kt-badge-destructive {
      color: var(--destructive);
    }
}
