/*! Utility: pt-0 | Layer: utilities | Generated 2025-11-08 03:31:15 +0000 */
@layer utilities {
.pt-0 {
    padding-top: calc(var(--spacing) * 0);
  }

.pt-0\.5 {
    padding-top: calc(var(--spacing) * 0.5);
  }
}
