/*! Utility: in-data-\[kt-sticky-header\=on\]\:pt-\(--header-height\) | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.in-data-\[kt-sticky-header\=on\]\:pt-\(--header-height\) {
    :where(*[data-kt-sticky-header="on"]) & {
      padding-top: var(--header-height);
    }
  }
}
