/*! Component Root Index via @import | Layer: kt-kbd | Generated 2025-11-08 03:31:24 +0000 */
@import url("./kt-kbd-outline.css");
@import url("./kt-kbd-root.css");
@import url("./kt-kbd-sm.css");
@import url("./kt-kbd-xs.css");
