/*! Component: kt-kbd-outline | Layer: components | Generated 2025-11-08 03:31:22 +0000 */
@layer components {
.kt-kbd-outline {
    border-style: var(--tw-border-style);
    border-width: 1px;
    border-color: var(--input);
    background-color: transparent;
    color: var(--accent-foreground);
  }
}
