/*! Component: kt-btn-secondary | Layer: components | Generated 2025-11-08 03:31:18 +0000 */
@layer components {
.kt-btn-secondary {
    background-color: var(--secondary);
    color: var(--secondary-foreground);
    &:hover {
      @media (hover: hover) {
        background-color: var(--secondary);
      }
    }
    &:hover {
      @media (hover: hover) {
        color: var(--foreground);
      }
    }
    &.active {
      background-color: var(--secondary);
    }
    &.active {
      color: var(--foreground);
    }
    i {
      color: var(--muted-foreground);
    }
    svg {
      color: var(--muted-foreground);
    }
    &:hover,	&.active {
      i {
        color: var(--muted-foreground);
      }
      svg {
        color: var(--muted-foreground);
      }
    }
  }
}
