/*! Component Root Index via @import | Layer: kt-btn | Generated 2025-11-08 03:31:24 +0000 */
@import url("./kt-btn-destructive.css");
@import url("./kt-btn-dim.css");
@import url("./kt-btn-ghost.css");
@import url("./kt-btn-icon.css");
@import url("./kt-btn-lg.css");
@import url("./kt-btn-mono.css");
@import url("./kt-btn-outline.css");
@import url("./kt-btn-primary.css");
@import url("./kt-btn-root.css");
@import url("./kt-btn-secondary.css");
@import url("./kt-btn-sm.css");
