/*! Component: kt-btn-sm | Layer: components | Generated 2025-11-08 03:31:18 +0000 */
@layer components {
.kt-btn-sm {
    height: calc(var(--spacing) * 7);
    gap: calc(var(--spacing) * 1.25);
    border-radius: calc(var(--radius) - 2px);
    padding-inline: calc(var(--spacing) * 2.5);
    font-size: var(--text-xs);
    line-height: var(--tw-leading, var(--text-xs--line-height));
    svg {
      width: calc(var(--spacing) * 3.5);
      height: calc(var(--spacing) * 3.5);
    }
    i {
      font-size: var(--text-sm);
      line-height: var(--tw-leading, var(--text-sm--line-height));
    }
    &.kt-btn-icon {
      width: calc(var(--spacing) * 7);
      height: calc(var(--spacing) * 7);
      padding: calc(var(--spacing) * 0);
    }
  }
}
