/*! Component: kt-btn-outline | Layer: components | Generated 2025-11-08 03:31:18 +0000 */
@layer components {
.kt-btn-outline {
    border-style: var(--tw-border-style);
    border-width: 1px;
    border-color: var(--input);
    background-color: var(--background);
    color: var(--secondary-foreground);
    &:hover {
      @media (hover: hover) {
        background-color: var(--accent);
      }
    }
    &:hover {
      @media (hover: hover) {
        color: var(--accent-foreground);
      }
    }
    &.active {
      background-color: var(--accent);
    }
    &.active {
      color: var(--accent-foreground);
    }
    i {
      color: var(--muted-foreground);
    }
    svg {
      color: var(--muted-foreground);
    }
    &:hover,	&.active {
      i {
        color: var(--secondary-foreground);
      }
      svg {
        color: var(--secondary-foreground);
      }
    }
    &.kt-btn-primary {
      border-color: var(--primary);
      @supports (color: color-mix(in lab, red, red)) {
        border-color: color-mix(in oklab, var(--primary) 10%, transparent);
      }
      background-color: var(--primary);
      @supports (color: color-mix(in lab, red, red)) {
        background-color: color-mix(in oklab, var(--primary) 10%, transparent);
      }
      color: var(--primary);
      &:hover {
        @media (hover: hover) {
          background-color: var(--primary);
        }
      }
      &:hover {
        @media (hover: hover) {
          color: var(--primary-foreground);
        }
      }
      &.active {
        border-color: var(--primary);
      }
      &.active {
        background-color: var(--primary);
      }
      &.active {
        color: var(--primary-foreground);
      }
      i {
        color: var(--primary);
      }
      svg {
        color: var(--primary);
      }
      &:hover,	&.active {
        i {
          color: var(--primary-foreground);
        }
        svg {
          color: var(--primary-foreground);
        }
      }
    }
    &.kt-btn-destructive {
      border-color: var(--destructive);
      @supports (color: color-mix(in lab, red, red)) {
        border-color: color-mix(in oklab, var(--destructive) 10%, transparent);
      }
      background-color: var(--destructive);
      @supports (color: color-mix(in lab, red, red)) {
        background-color: color-mix(in oklab, var(--destructive) 10%, transparent);
      }
      color: var(--destructive);
      &:hover {
        @media (hover: hover) {
          background-color: var(--destructive);
        }
      }
      &:hover {
        @media (hover: hover) {
          color: var(--destructive-foreground);
        }
      }
      &.active {
        border-color: var(--destructive);
      }
      &.active {
        background-color: var(--destructive);
      }
      &.active {
        color: var(--destructive-foreground);
      }
      i {
        color: var(--destructive);
      }
      svg {
        color: var(--destructive);
      }
      &:hover,	&.active {
        i {
          color: var(--destructive-foreground);
        }
        svg {
          color: var(--destructive-foreground);
        }
      }
    }
  }
}
/*! Component: kt-btn-outline | Layer: components | Generated 2025-11-08 03:31:19 +0000 */
@layer components {
.kt-btn-outline {
      border-inline-start-style: var(--tw-border-style) !important;
      border-inline-start-width: 0px !important;
    }
}
