/*! Component: kt-btn-ghost | Layer: components | Generated 2025-11-08 03:31:18 +0000 */
@layer components {
.kt-btn-ghost {
    background-color: transparent;
    color: var(--accent-foreground);
    --tw-shadow: 0 0 #0000;
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    &:hover {
      @media (hover: hover) {
        background-color: var(--accent);
      }
    }
    &:hover {
      @media (hover: hover) {
        color: var(--accent-foreground);
      }
    }
    &.active {
      background-color: var(--accent);
    }
    &.active {
      color: var(--accent-foreground);
    }
    &:not(.kt-btn-primary):not(.kt-btn-destructive) {
      i {
        color: var(--muted-foreground);
      }
      svg {
        color: var(--muted-foreground);
      }
      &:hover,	&.active {
        i {
          color: var(--secondary-foreground);
        }
        svg {
          color: var(--secondary-foreground);
        }
      }
    }
    &.kt-btn-primary {
      color: var(--primary);
      &:hover {
        @media (hover: hover) {
          background-color: var(--primary);
        }
      }
      &:hover {
        @media (hover: hover) {
          color: var(--primary-foreground);
        }
      }
      &.active {
        background-color: var(--primary);
      }
      &.active {
        color: var(--primary-foreground);
      }
    }
    &.kt-btn-destructive {
      color: var(--destructive);
      &:hover {
        @media (hover: hover) {
          background-color: var(--destructive);
        }
      }
      &:hover {
        @media (hover: hover) {
          color: var(--destructive-foreground);
        }
      }
      &.active {
        background-color: var(--destructive);
      }
      &.active {
        color: var(--destructive-foreground);
      }
    }
  }
}
