/*! Utility: h-1 | Layer: utilities | Generated 2025-11-08 03:31:13 +0000 */
@layer utilities {
.h-1 {
    height: calc(var(--spacing) * 1);
  }

.h-1\.5 {
    height: calc(var(--spacing) * 1.5);
  }

.h-10 {
    height: calc(var(--spacing) * 10);
  }

.h-11 {
    height: calc(var(--spacing) * 11);
  }

.h-12 {
    height: calc(var(--spacing) * 12);
  }
}
