/*! Utility: h-4 | Layer: utilities | Generated 2025-11-08 03:31:13 +0000 */
@layer utilities {
.h-4 {
    height: calc(var(--spacing) * 4);
  }

.h-40 {
    height: calc(var(--spacing) * 40);
  }

.h-44 {
    height: calc(var(--spacing) * 44);
  }

.h-48 {
    height: calc(var(--spacing) * 48);
  }
}
