/*! Utility: h-8 | Layer: utilities | Generated 2025-11-08 03:31:13 +0000 */
@layer utilities {
.h-8 {
    height: calc(var(--spacing) * 8);
  }

.h-8\.5 {
    height: calc(var(--spacing) * 8.5);
  }
}
