/*! Utility: lg\:border-r-border | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.lg\:border-r-border {
    @media (width >= 64rem) {
      border-right-color: var(--border);
    }
  }
}
