/*! Utility: lg\:border-r | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.lg\:border-r {
    @media (width >= 64rem) {
      border-right-style: var(--tw-border-style);
      border-right-width: 1px;
    }
  }

.lg\:border-r-border {
    @media (width >= 64rem) {
      border-right-color: var(--border);
    }
  }
}
