/*! Utility: lg\:border-s | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.lg\:border-s {
    @media (width >= 64rem) {
      border-inline-start-style: var(--tw-border-style);
      border-inline-start-width: 1px;
    }
  }

.lg\:border-s-border {
    @media (width >= 64rem) {
      border-inline-start-color: var(--border);
    }
  }
}
