/*! Utility: dark\:stroke-yellow-950 | Layer: utilities | Generated 2025-11-08 03:31:17 +0000 */
@layer utilities {
.dark\:stroke-yellow-950 {
    &:is(.dark *) {
      stroke: var(--color-yellow-950);
    }
  }
}
