/*! Component Root Index via @import | Layer: kt-switch | Generated 2025-11-08 03:31:24 +0000 */
@import url("./kt-switch-lg.css");
@import url("./kt-switch-root.css");
@import url("./kt-switch-sm.css");
