/*! Component: kt-avatar-status-busy | Layer: components | Generated 2025-11-08 03:31:18 +0000 */
@layer components {
.kt-avatar-status-busy {
      background-color: var(--color-yellow-600);
    }
}
