/*! Component: kt-avatar-indicator | Layer: components | Generated 2025-11-08 03:31:17 +0000 */
@layer components {
.kt-avatar-indicator {
    position: absolute;
    display: flex;
    width: calc(var(--spacing) * 6);
    height: calc(var(--spacing) * 6);
    align-items: center;
    justify-content: center;
  }
}
