/*! Component: kt-avatar-status-online | Layer: components | Generated 2025-11-08 03:31:18 +0000 */
@layer components {
.kt-avatar-status-online {
      background-color: var(--color-green-600);
    }
}
