/*! Component: kt-avatar-status | Layer: components | Generated 2025-11-08 03:31:17 +0000 */
@layer components {
.kt-avatar-status {
    display: flex;
    width: calc(var(--spacing) * 2);
    height: calc(var(--spacing) * 2);
    align-items: center;
    border-radius: calc(infinity * 1px);
    border-style: var(--tw-border-style);
    border-width: 2px;
    border-color: var(--background);
    &.kt-avatar-status-online {
      background-color: var(--color-green-600);
    }
    &.kt-avatar-status-offline {
      background-color: var(--mono);
      @supports (color: color-mix(in lab, red, red)) {
        background-color: color-mix(in oklab, var(--mono) 50%, transparent);
      }
    }
    &.kt-avatar-status-busy {
      background-color: var(--color-yellow-600);
    }
    &.kt-avatar-status-away {
      background-color: var(--color-blue-600);
    }
  }
}
