/*! Component: kt-avatar-status-offline | Layer: components | Generated 2025-11-08 03:31:18 +0000 */
@layer components {
.kt-avatar-status-offline {
      background-color: var(--mono);
      @supports (color: color-mix(in lab, red, red)) {
        background-color: color-mix(in oklab, var(--mono) 50%, transparent);
      }
    }
}
