/*! Utility: hover\:z-5 | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.hover\:z-5 {
    &:hover {
      @media (hover: hover) {
        z-index: 5;
      }
    }
  }
}
