/*! Utility: lg\:pe-8 | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.lg\:pe-8 {
    @media (width >= 64rem) {
      padding-inline-end: calc(var(--spacing) * 8);
    }
  }
}
