/*! Utility: lg\:pe-10 | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.lg\:pe-10 {
    @media (width >= 64rem) {
      padding-inline-end: calc(var(--spacing) * 10);
    }
  }
}
