/*! Utility: \[background-position\:7\5rem_-3\5rem\] | Layer: utilities | Generated 2025-11-08 03:31:15 +0000 */
@layer utilities {
.\[background-position\:7\.5rem_-3\.5rem\] {
    background-position: 7.5rem -3.5rem;
  }
}
