/*! Utility: rtl\:kt-toggle-active\:rotate-0 | Layer: utilities | Generated 2025-11-08 03:31:17 +0000 */
@layer utilities {
.rtl\:kt-toggle-active\:rotate-0 {
    &:where(:dir(rtl), [dir="rtl"], [dir="rtl"] *) {
      &[data-kt-toggle].active {
        rotate: 0deg;
      }
      [data-kt-toggle].active & {
        rotate: 0deg;
      }
    }
  }
}
