/*! Component: kt-label-secondary | Layer: components | Generated 2025-11-08 03:31:18 +0000 */
@layer components {
.kt-label-secondary {
    --tw-font-weight: var(--font-weight-normal);
    font-weight: var(--font-weight-normal);
  }
}
