/*! Component: kt-progress-mono | Layer: components | Generated 2025-11-08 03:31:22 +0000 */
@layer components {
.kt-progress-mono {
    .kt-progress-indicator {
      background-color: var(--mono);
    }
  }
}
