/*! Utility: lg\:w-\(--sidebar-width\) | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.lg\:w-\(--sidebar-width\) {
    @media (width >= 64rem) {
      width: var(--sidebar-width);
    }
  }
}
