/*! Utility: rtl\:border-s | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.rtl\:border-s {
    &:where(:dir(rtl), [dir="rtl"], [dir="rtl"] *) {
      border-inline-start-style: var(--tw-border-style);
      border-inline-start-width: 1px;
    }
  }
}
