/*! Utility: before\:size-1\5 | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.before\:size-1\.5 {
    &::before {
      content: var(--tw-content);
      width: calc(var(--spacing) * 1.5);
      height: calc(var(--spacing) * 1.5);
    }
  }
}
