/*! Utility: before\:size-\[6px\] | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.before\:size-\[6px\] {
    &::before {
      content: var(--tw-content);
      width: 6px;
      height: 6px;
    }
  }
}
