/*! Utility: size-4 | Layer: utilities | Generated 2025-11-08 03:31:13 +0000 */
@layer utilities {
.size-4 {
    width: calc(var(--spacing) * 4);
    height: calc(var(--spacing) * 4);
  }

.size-48 {
    width: calc(var(--spacing) * 48);
    height: calc(var(--spacing) * 48);
  }
}
