/*! Utility: size-1\5 | Layer: utilities | Generated 2025-11-08 03:31:13 +0000 */
@layer utilities {
.size-1\.5 {
    width: calc(var(--spacing) * 1.5);
    height: calc(var(--spacing) * 1.5);
  }
}
/*! Utility: size-15 | Layer: utilities | Generated 2025-11-08 03:31:13 +0000 */
@layer utilities {
.size-15 {
    width: calc(var(--spacing) * 15);
    height: calc(var(--spacing) * 15);
  }
}
