/*! Utility: size-8 | Layer: utilities | Generated 2025-11-08 03:31:13 +0000 */
@layer utilities {
.size-8 {
    width: calc(var(--spacing) * 8);
    height: calc(var(--spacing) * 8);
  }

.size-80 {
    width: calc(var(--spacing) * 80);
    height: calc(var(--spacing) * 80);
  }
}
