/*! Utility: lg\:\[--kt-reparent-target\:\#megaMenuWrapper\] | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.lg\:\[--kt-reparent-target\:\#megaMenuWrapper\] {
    @media (width >= 64rem) {
      --kt-reparent-target: #megaMenuWrapper;
    }
  }
}
