/*! Component: kt-toast | Layer: components | Generated 2025-11-08 03:31:22 +0000 */
@layer components {
.kt-toast-container {
    position: fixed;
    z-index: 9999;
  }

.kt-toast {
    pointer-events: auto;
    position: fixed;
    z-index: 9999;
    width: calc(var(--spacing) * 76);
    max-width: 95%;
    overflow: hidden;
    --tw-shadow: 0 1px 3px 0 var(--tw-shadow-color, rgb(0 0 0 / 0.1)), 0 1px 2px -1px var(--tw-shadow-color, rgb(0 0 0 / 0.1));
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    opacity: 0;
    animation: kt-toast-in 0.28s cubic-bezier(0.4, 0, 0.2, 1) forwards;
    transition: top 0.28s cubic-bezier(0.4, 0, 0.2, 1),	opacity 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    &.kt-toast-top-end {
      inset-inline-end: calc(var(--spacing) * 0);
      top: calc(var(--spacing) * 0);
      bottom: auto;
    }
    &.kt-toast-top-center {
      top: calc(var(--spacing) * 0);
      bottom: auto;
      left: calc(1/2 * 100%);
      --tw-translate-x: calc(calc(1/2 * 100%) * -1);
      translate: var(--tw-translate-x) var(--tw-translate-y);
    }
    &.kt-toast-top-start {
      inset-inline-start: calc(var(--spacing) * 0);
      top: calc(var(--spacing) * 0);
      bottom: auto;
    }
    &.kt-toast-middle-end {
      inset-inline-end: calc(var(--spacing) * 0);
      top: calc(1/2 * 100%);
      --tw-translate-y: calc(calc(1/2 * 100%) * -1);
      translate: var(--tw-translate-x) var(--tw-translate-y);
    }
    &.kt-toast-middle-center {
      top: calc(1/2 * 100%);
      left: calc(1/2 * 100%);
      --tw-translate-x: calc(calc(1/2 * 100%) * -1);
      translate: var(--tw-translate-x) var(--tw-translate-y);
      --tw-translate-y: calc(calc(1/2 * 100%) * -1);
      translate: var(--tw-translate-x) var(--tw-translate-y);
    }
    &.kt-toast-middle-start {
      inset-inline-start: calc(var(--spacing) * 0);
      top: calc(1/2 * 100%);
      --tw-translate-y: calc(calc(1/2 * 100%) * -1);
      translate: var(--tw-translate-x) var(--tw-translate-y);
    }
    &.kt-toast-bottom-end {
      inset-inline-end: calc(var(--spacing) * 0);
      top: auto;
      bottom: calc(var(--spacing) * 0);
    }
    &.kt-toast-bottom-center {
      top: auto;
      bottom: calc(var(--spacing) * 0);
      left: calc(1/2 * 100%);
      --tw-translate-x: calc(calc(1/2 * 100%) * -1);
      translate: var(--tw-translate-x) var(--tw-translate-y);
    }
    &.kt-toast-bottom-start {
      inset-inline-start: calc(var(--spacing) * 0);
      top: auto;
      bottom: calc(var(--spacing) * 0);
    }
  }

.kt-toast-progress {
    position: fixed;
    inset-inline-start: calc(var(--spacing) * 0);
    bottom: calc(var(--spacing) * 0);
    height: 3px;
    width: 100%;
    background-color: var(--primary);
    transform-origin: left;
    animation: kt-toast-progress-line linear forwards;
  }
}
