/*! Component: kt-toast-progress | Layer: components | Generated 2025-11-08 03:31:22 +0000 */
@layer components {
.kt-toast-progress {
    position: fixed;
    inset-inline-start: calc(var(--spacing) * 0);
    bottom: calc(var(--spacing) * 0);
    height: 3px;
    width: 100%;
    background-color: var(--primary);
    transform-origin: left;
    animation: kt-toast-progress-line linear forwards;
  }
}
/*! Component: kt-toast-progress | Layer: components | Generated 2025-11-08 03:31:22 +0000 */
@layer components {
.kt-toast-progress {
    transform-origin: right;
  }
}
