/*! Component: kt-toast-top-end | Layer: components | Generated 2025-11-08 03:31:22 +0000 */
@layer components {
.kt-toast-top-end {
      inset-inline-end: calc(var(--spacing) * 0);
      top: calc(var(--spacing) * 0);
      bottom: auto;
    }
}
