/*! Component: kt-toast-top-center | Layer: components | Generated 2025-11-08 03:31:22 +0000 */
@layer components {
.kt-toast-top-center {
      top: calc(var(--spacing) * 0);
      bottom: auto;
      left: calc(1/2 * 100%);
      --tw-translate-x: calc(calc(1/2 * 100%) * -1);
      translate: var(--tw-translate-x) var(--tw-translate-y);
    }
}
