/*! Component: kt-toast-middle-end | Layer: components | Generated 2025-11-08 03:31:22 +0000 */
@layer components {
.kt-toast-middle-end {
      inset-inline-end: calc(var(--spacing) * 0);
      top: calc(1/2 * 100%);
      --tw-translate-y: calc(calc(1/2 * 100%) * -1);
      translate: var(--tw-translate-x) var(--tw-translate-y);
    }
}
