/*! Component Root Index via @import | Layer: kt-sidebar | Generated 2025-11-08 03:31:24 +0000 */
@import url("./kt-sidebar-collapse.css");
@import url("./kt-sidebar-content.css");
@import url("./kt-sidebar-fixed.css");
@import url("./kt-sidebar-header.css");
@import url("./kt-sidebar-logo.css");
@import url("./kt-sidebar-root.css");
@import url("./kt-sidebar-wrapper.css");
