/*! Component: kt-wrapper | Layer: components | Generated 2025-11-08 03:31:24 +0000 */
@layer components {
.kt-wrapper {
    padding-top: var(--header-height);
  }

.kt-wrapper {
      padding-inline-start: var(--sidebar-width) !important;
    }

.kt-wrapper {
      padding-top: var(--header-height);
    }

.kt-wrapper {
    transition: padding-inline-start var(--sidebar-transition-duration) var(--sidebar-transition-timing);
  }
}
