/*! Component Root Index via @import | Layer: kt-accordion | Generated 2025-11-08 03:31:24 +0000 */
@import url("./kt-accordion-content.css");
@import url("./kt-accordion-indicator-off.css");
@import url("./kt-accordion-indicator-on.css");
@import url("./kt-accordion-indicator.css");
@import url("./kt-accordion-item.css");
@import url("./kt-accordion-menu-content.css");
@import url("./kt-accordion-menu-indicator.css");
@import url("./kt-accordion-menu-item.css");
@import url("./kt-accordion-menu-link.css");
@import url("./kt-accordion-menu-sub.css");
@import url("./kt-accordion-menu-toggle.css");
@import url("./kt-accordion-menu.css");
@import url("./kt-accordion-outline.css");
@import url("./kt-accordion-root.css");
@import url("./kt-accordion-title.css");
@import url("./kt-accordion-toggle.css");
@import url("./kt-accordion-wrapper.css");
