/*! Component: kt-accordion-outline | Layer: components | Generated 2025-11-08 03:31:18 +0000 */
@layer components {
.kt-accordion-outline {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 3.5);
    .kt-accordion-item {
      border-radius: var(--radius);
      border-style: var(--tw-border-style);
      border-width: 1px;
      border-color: var(--border);
    }
    .kt-accordion-content {
      border-top-style: var(--tw-border-style);
      border-top-width: 1px;
      border-color: var(--border);
    }
    .kt-accordion-toggle {
      padding: calc(var(--spacing) * 4);
    }
    .kt-accordion-wrapper {
      padding: calc(var(--spacing) * 4);
    }
  }
}
