/*! Component: kt-accordion-wrapper | Layer: components | Generated 2025-11-08 03:31:18 +0000 */
@layer components {
.kt-accordion-wrapper {
    padding-bottom: calc(var(--spacing) * 4);
    font-size: var(--text-base);
    line-height: var(--tw-leading, var(--text-base--line-height));
    color: var(--foreground);
  }

.kt-accordion-wrapper {
      padding: calc(var(--spacing) * 4);
    }
}
