/*! Component: kt-accordion-menu-item | Layer: components | Generated 2025-11-08 03:31:18 +0000 */
@layer components {
.kt-accordion-menu-item {
    width: 100%;
    :where(& > :not(:last-child)) {
      --tw-space-y-reverse: 0;
      margin-block-start: calc(calc(var(--spacing) * 1) * var(--tw-space-y-reverse));
      margin-block-end: calc(calc(var(--spacing) * 1) * calc(1 - var(--tw-space-y-reverse)));
    }
  }
}
