/*! Component: kt-accordion-indicator-off | Layer: components | Generated 2025-11-08 03:31:18 +0000 */
@layer components {
.kt-accordion-indicator-off {
    display: none;
    width: calc(var(--spacing) * 3.5);
    height: calc(var(--spacing) * 3.5);
    flex-shrink: 0;
    &[data-kt-accordion-item].active {
      display: block;
    }
    [data-kt-accordion-item].active > [data-kt-accordion-toggle] & {
      display: block;
    }
    [data-kt-accordion-item].active > [data-kt-accordion-toggle]& {
      display: block;
    }
  }
}
