/*! Component: kt-accordion-menu-toggle | Layer: components | Generated 2025-11-08 03:31:18 +0000 */
@layer components {
.kt-accordion-menu-toggle {
    display: flex;
    width: 100%;
    align-items: center;
    column-gap: calc(var(--spacing) * 2.5);
    border-radius: calc(var(--radius) - 2px);
    padding-inline: calc(var(--spacing) * 2.5);
    padding-block: calc(var(--spacing) * 2);
    font-size: var(--text-sm);
    line-height: var(--tw-leading, var(--text-sm--line-height));
    --tw-font-weight: var(--font-weight-medium);
    font-weight: var(--font-weight-medium);
    color: var(--foreground);
    &:hover {
      @media (hover: hover) {
        background-color: var(--accent);
      }
    }
    &:disabled {
      pointer-events: none;
    }
    &:disabled {
      opacity: 50%;
    }
    &[data-kt-accordion-item].active {
      background-color: var(--accent);
    }
    [data-kt-accordion-item].active > [data-kt-accordion-toggle] & {
      background-color: var(--accent);
    }
    [data-kt-accordion-item].active > [data-kt-accordion-toggle]& {
      background-color: var(--accent);
    }
    svg {
      width: calc(var(--spacing) * 4);
      height: calc(var(--spacing) * 4);
      flex-shrink: 0;
      color: var(--muted-foreground);
    }
  }
}
