/*! Component: kt-accordion-toggle | Layer: components | Generated 2025-11-08 03:31:18 +0000 */
@layer components {
.kt-accordion-toggle {
    display: flex;
    width: 100%;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    gap: calc(var(--spacing) * 2.5);
    padding-block: calc(var(--spacing) * 4);
    text-align: start;
  }

.kt-accordion-toggle {
      padding: calc(var(--spacing) * 4);
    }
}
