/*! Component: kt-accordion-menu-sub | Layer: components | Generated 2025-11-08 03:31:18 +0000 */
@layer components {
.kt-accordion-menu-sub {
    width: 100%;
    row-gap: calc(var(--spacing) * 1);
  }
}
