/*! Utility: lg\:max-w-\[670px\] | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.lg\:max-w-\[670px\] {
    @media (width >= 64rem) {
      max-width: 670px;
    }
  }
}
