/*! Utility: rtl\:rounded-tr-xl | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.rtl\:rounded-tr-xl {
    &:where(:dir(rtl), [dir="rtl"], [dir="rtl"] *) {
      border-top-right-radius: calc(var(--radius) + 4px);
    }
  }
}
