/*! Utility: rtl\:\[\&_tr\:nth-of-type\(12\)\>td\:first-child\]\:rounded-br-xl | Layer: utilities | Generated 2025-11-08 03:31:17 +0000 */
@layer utilities {
.rtl\:\[\&_tr\:nth-of-type\(12\)\>td\:first-child\]\:rounded-br-xl {
    &:where(:dir(rtl), [dir="rtl"], [dir="rtl"] *) {
      & tr:nth-of-type(12)>td:first-child {
        border-bottom-right-radius: calc(var(--radius) + 4px);
      }
    }
  }
}
