/*! Utility: in-\[\kt-menu-dropdown\]\:-rotate-90 | Layer: utilities | Generated 2025-11-08 03:31:16 +0000 */
@layer utilities {
.in-\[\.kt-menu-dropdown\]\:-rotate-90 {
    :where(*:is(.kt-menu-dropdown)) & {
      rotate: calc(90deg * -1);
    }
  }
}
