/*! Component Root Index via @import | Layer: kt-menu | Generated 2025-11-08 03:31:24 +0000 */
@import url("./kt-menu-accordion.css");
@import url("./kt-menu-arrow.css");
@import url("./kt-menu-badge.css");
@import url("./kt-menu-bullet.css");
@import url("./kt-menu-container.css");
@import url("./kt-menu-default.css");
@import url("./kt-menu-dropdown.css");
@import url("./kt-menu-fit.css");
@import url("./kt-menu-heading.css");
@import url("./kt-menu-icon.css");
@import url("./kt-menu-item-dropdown.css");
@import url("./kt-menu-item.css");
@import url("./kt-menu-label.css");
@import url("./kt-menu-link.css");
@import url("./kt-menu-root.css");
@import url("./kt-menu-separator.css");
@import url("./kt-menu-space.css");
@import url("./kt-menu-title.css");
@import url("./kt-menu-toggle.css");
