/*! Component: kt-menu-arrow | Layer: components | Generated 2025-11-08 03:31:23 +0000 */
@layer components {
.kt-menu-arrow {
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }
}
/*! Component: kt-menu-arrow | Layer: components | Generated 2025-11-08 03:31:23 +0000 */
@layer components {
.kt-menu-arrow {
      margin-inline-start: calc(var(--spacing) * 2);
      & i {
        font-size: var(--text-xs);
        line-height: var(--tw-leading, var(--text-xs--line-height));
      }
    }
}
/*! Component: kt-menu-arrow | Layer: components | Generated 2025-11-08 03:31:23 +0000 */
@layer components {
.kt-menu-arrow i {
        color: var(--muted-foreground);
      }
}
/*! Component: kt-menu-arrow | Layer: components | Generated 2025-11-08 03:31:24 +0000 */
@layer components {
.kt-menu-arrow,	.demo1.kt-sidebar-collapse .kt-sidebar:not(:hover) .kt-menu > .kt-menu-item > .kt-menu-link .kt-menu-badge,	.demo1.kt-sidebar-collapse .kt-sidebar:not(:hover) .kt-menu > .kt-menu-item > .kt-menu-label .kt-menu-title,	.demo1.kt-sidebar-collapse .kt-sidebar:not(:hover) .kt-menu > .kt-menu-item > .kt-menu-label .kt-menu-arrow,	.demo1.kt-sidebar-collapse .kt-sidebar:not(:hover) .kt-menu > .kt-menu-item > .kt-menu-label .kt-menu-badge {
      display: none;
    }
}
