/*! Component: kt-menu-separator | Layer: components | Generated 2025-11-08 03:31:23 +0000 */
@layer components {
.kt-menu-separator {
      margin-block: calc(var(--spacing) * 2);
      border-bottom-style: var(--tw-border-style);
      border-bottom-width: 1px;
      border-color: var(--border);
    }
}
