/*! Component: kt-menu-title | Layer: components | Generated 2025-11-08 03:31:23 +0000 */
@layer components {
.kt-menu-title {
    display: flex;
    align-items: center;
    line-height: 1;
    flex-grow: 1;
  }
}
/*! Component: kt-menu-title | Layer: components | Generated 2025-11-08 03:31:23 +0000 */
@layer components {
.kt-menu-title {
      font-size: var(--text-2sm);
      line-height: var(--tw-leading, var(--text-2sm--line-height));
      --tw-font-weight: var(--font-weight-medium);
      font-weight: var(--font-weight-medium);
    }
}
/*! Component: kt-menu-title | Layer: components | Generated 2025-11-08 03:31:23 +0000 */
@layer components {
.kt-menu-title {
        color: var(--foreground);
      }

.kt-menu-title {
          color: var(--mono);
        }

.kt-menu-title {
            color: var(--mono);
          }
}
/*! Component: kt-menu-title | Layer: components | Generated 2025-11-08 03:31:24 +0000 */
@layer components {
.kt-menu-title,	.demo1.kt-sidebar-collapse .kt-sidebar:not(:hover) .kt-menu > .kt-menu-item > .kt-menu-link .kt-menu-arrow,	.demo1.kt-sidebar-collapse .kt-sidebar:not(:hover) .kt-menu > .kt-menu-item > .kt-menu-link .kt-menu-badge,	.demo1.kt-sidebar-collapse .kt-sidebar:not(:hover) .kt-menu > .kt-menu-item > .kt-menu-label .kt-menu-title,	.demo1.kt-sidebar-collapse .kt-sidebar:not(:hover) .kt-menu > .kt-menu-item > .kt-menu-label .kt-menu-arrow,	.demo1.kt-sidebar-collapse .kt-sidebar:not(:hover) .kt-menu > .kt-menu-item > .kt-menu-label .kt-menu-badge {
      display: none;
    }
}
