/*! Component: kt-menu-heading | Layer: components | Generated 2025-11-08 03:31:24 +0000 */
@layer components {
.kt-menu-heading {
      visibility: hidden;
      position: relative;
    }

.kt-menu-heading::before {
      content: "...";
      color: currentColor;
      font-size: inherit;
      position: absolute;
      visibility: visible;
      display: inline-block;
      bottom: 50%;
      inset-inline-start: 0;
      margin-inline-start: 0.225rem;
      transform: translateX(100%);
    }
}
