/*! Component: kt-menu-label | Layer: components | Generated 2025-11-08 03:31:23 +0000 */
@layer components {
.kt-menu-label, .kt-menu-toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
}
/*! Component: kt-menu-label | Layer: components | Generated 2025-11-08 03:31:23 +0000 */
@layer components {
.kt-menu-label {
      margin-inline: calc(var(--spacing) * 2);
      border-radius: calc(var(--radius) - 2px);
      padding-inline: calc(var(--spacing) * 2);
      padding-block: calc(var(--spacing) * 2);
    }

.kt-menu-label {
        margin-inline-start: calc(var(--spacing) * 5);
      }

.kt-menu-label {
        margin-inline-start: calc(var(--spacing) * 8);
      }

.kt-menu-label {
        margin-inline-start: calc(var(--spacing) * 11);
      }

.kt-menu-label {
        margin-inline-start: calc(var(--spacing) * 14);
      }

.kt-menu-label {
      margin-inline: calc(var(--spacing) * 0);
    }

.kt-menu-label {
      margin-inline: calc(var(--spacing) * 2.5);
    }
}
/*! Component: kt-menu-label | Layer: components | Generated 2025-11-08 03:31:23 +0000 */
@layer components {
.kt-menu-label:hover {
        & .kt-menu-title {
          color: var(--mono);
        }
        & .kt-menu-icon i {
          color: var(--primary);
        }
      }

.kt-menu-label {
          & .kt-menu-title {
            color: var(--mono);
          }
          & .kt-menu-icon i {
            color: var(--primary);
          }
        }

.kt-menu-label {
          background-color: var(--accent);
        }

.kt-menu-label:hover {
        background-color: var(--accent);
      }

.kt-menu-label {
          opacity: 50%;
        }
}
/*! Component: kt-menu-label | Layer: components | Generated 2025-11-08 03:31:24 +0000 */
@layer components {
.kt-menu-label .kt-menu-title,	.demo1.kt-sidebar-collapse .kt-sidebar:not(:hover) .kt-menu > .kt-menu-item > .kt-menu-label .kt-menu-arrow,	.demo1.kt-sidebar-collapse .kt-sidebar:not(:hover) .kt-menu > .kt-menu-item > .kt-menu-label .kt-menu-badge {
      display: none;
    }
}
