/*! Component: kt-menu-item | Layer: components | Generated 2025-11-08 03:31:23 +0000 */
@layer components {
.kt-menu-item, .kt-menu-link {
    padding: 0;
    margin: 0;
  }

.kt-menu-item {
    display: flex;
    flex-direction: column;
  }

.kt-menu-item-dropdown > &, .base-popper-root > .kt-menu-container > &, &.kt-menu.show, &.show[data-popper-placement] {
      display: flex;
      will-change: transform;
    }
}
/*! Component: kt-menu-item | Layer: components | Generated 2025-11-08 03:31:23 +0000 */
@layer components {
.kt-menu-item > .kt-menu-link, & .kt-menu-item > .kt-menu-label {
        margin-inline-start: calc(var(--spacing) * 5);
      }

.kt-menu-item > .kt-menu-accordion .kt-menu-item > .kt-menu-link, & .kt-menu-item > .kt-menu-accordion .kt-menu-item > .kt-menu-label {
        margin-inline-start: calc(var(--spacing) * 8);
      }

.kt-menu-item > .kt-menu-accordion .kt-menu-item > .kt-menu-accordion .kt-menu-item > .kt-menu-link, & .kt-menu-item > .kt-menu-accordion .kt-menu-item > .kt-menu-accordion .kt-menu-item > .kt-menu-label {
        margin-inline-start: calc(var(--spacing) * 11);
      }

.kt-menu-item > .kt-menu-accordion .kt-menu-item > .kt-menu-accordion .kt-menu-item > .kt-menu-accordion .kt-menu-item > .kt-menu-link, & .kt-menu-item > .kt-menu-accordion .kt-menu-item > .kt-menu-accordion .kt-menu-item > .kt-menu-accordion .kt-menu-item > .kt-menu-label {
        margin-inline-start: calc(var(--spacing) * 14);
      }
}
/*! Component: kt-menu-item | Layer: components | Generated 2025-11-08 03:31:23 +0000 */
@layer components {
.kt-menu-item {
      & .kt-menu-title {
        color: var(--foreground);
      }
      & .kt-menu-icon i {
        color: var(--muted-foreground);
      }
      & .kt-menu-arrow i {
        color: var(--muted-foreground);
      }
      & .kt-menu-link:hover, & .kt-menu-label:hover {
        & .kt-menu-title {
          color: var(--mono);
        }
        & .kt-menu-icon i {
          color: var(--primary);
        }
      }
      &.active, &.show, &.here, &.focus {
        & > .kt-menu-link, & > .kt-menu-label {
          & .kt-menu-title {
            color: var(--mono);
          }
          & .kt-menu-icon i {
            color: var(--primary);
          }
        }
      }
      &.active, &.here {
        & > .kt-menu-link, & > .kt-menu-label {
          background-color: var(--accent);
        }
      }
      & > .kt-menu-link:hover, & > .kt-menu-label:hover {
        background-color: var(--accent);
      }
      &.disabled {
        & > .kt-menu-link, & > .kt-menu-label {
          opacity: 50%;
        }
      }
    }
}
/*! Component: kt-menu-item | Layer: components | Generated 2025-11-08 03:31:24 +0000 */
@layer components {
.kt-menu-item > .kt-menu-link .kt-menu-title,	.demo1.kt-sidebar-collapse .kt-sidebar:not(:hover) .kt-menu > .kt-menu-item > .kt-menu-link .kt-menu-arrow,	.demo1.kt-sidebar-collapse .kt-sidebar:not(:hover) .kt-menu > .kt-menu-item > .kt-menu-link .kt-menu-badge,	.demo1.kt-sidebar-collapse .kt-sidebar:not(:hover) .kt-menu > .kt-menu-item > .kt-menu-label .kt-menu-title,	.demo1.kt-sidebar-collapse .kt-sidebar:not(:hover) .kt-menu > .kt-menu-item > .kt-menu-label .kt-menu-arrow,	.demo1.kt-sidebar-collapse .kt-sidebar:not(:hover) .kt-menu > .kt-menu-item > .kt-menu-label .kt-menu-badge {
      display: none;
    }

.kt-menu-item > .kt-menu-accordion {
      display: none;
    }

.kt-menu-item > .kt-menu-heading {
      visibility: hidden;
      position: relative;
    }

.kt-menu-item > .kt-menu-heading::before {
      content: "...";
      color: currentColor;
      font-size: inherit;
      position: absolute;
      visibility: visible;
      display: inline-block;
      bottom: 50%;
      inset-inline-start: 0;
      margin-inline-start: 0.225rem;
      transform: translateX(100%);
    }
}
