/*! Component: kt-menu | Layer: components | Generated 2025-11-08 03:31:23 +0000 */
@layer components {
.kt-menu {
    display: flex;
  }

.kt-menu-item, .kt-menu-link {
    padding: 0;
    margin: 0;
  }

.kt-menu-item {
    display: flex;
    flex-direction: column;
  }

.kt-menu-link, .kt-menu-label, .kt-menu-toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

.kt-menu-title {
    display: flex;
    align-items: center;
    line-height: 1;
    flex-grow: 1;
  }

.kt-menu-icon, .kt-menu-bullet, .kt-menu-badge, .kt-menu-arrow {
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }

.kt-menu-dropdown, .kt-menu-accordion {
    padding: 0;
    margin: 0;
    display: none;
    align-items: stretch;
    flex-direction: column;
  }

.kt-menu-dropdown {
    .show.kt-menu-item-dropdown > &, .base-popper-root > .kt-menu-container > &, &.kt-menu.show, &.show[data-popper-placement] {
      display: flex;
      will-change: transform;
    }
  }

.kt-menu-accordion {
    display: none;
    transition: height 0.3s ease;
    .show:not(.kt-menu-dropdown) > &, .transitioning:not(.kt-menu-dropdown) > &, &.show {
      display: flex;
    }
  }
}
/*! Component: kt-menu | Layer: components | Generated 2025-11-08 03:31:24 +0000 */
@layer components {
.kt-menu > .kt-menu-item > .kt-menu-link .kt-menu-title,	.demo1.kt-sidebar-collapse .kt-sidebar:not(:hover) .kt-menu > .kt-menu-item > .kt-menu-link .kt-menu-arrow,	.demo1.kt-sidebar-collapse .kt-sidebar:not(:hover) .kt-menu > .kt-menu-item > .kt-menu-link .kt-menu-badge,	.demo1.kt-sidebar-collapse .kt-sidebar:not(:hover) .kt-menu > .kt-menu-item > .kt-menu-label .kt-menu-title,	.demo1.kt-sidebar-collapse .kt-sidebar:not(:hover) .kt-menu > .kt-menu-item > .kt-menu-label .kt-menu-arrow,	.demo1.kt-sidebar-collapse .kt-sidebar:not(:hover) .kt-menu > .kt-menu-item > .kt-menu-label .kt-menu-badge {
      display: none;
    }

.kt-menu > .kt-menu-item > .kt-menu-accordion {
      display: none;
    }

.kt-menu > .kt-menu-item > .kt-menu-heading {
      visibility: hidden;
      position: relative;
    }

.kt-menu > .kt-menu-item > .kt-menu-heading::before {
      content: "...";
      color: currentColor;
      font-size: inherit;
      position: absolute;
      visibility: visible;
      display: inline-block;
      bottom: 50%;
      inset-inline-start: 0;
      margin-inline-start: 0.225rem;
      transform: translateX(100%);
    }
}
