/*! Utility: tracking-tight | Layer: utilities | Generated 2025-11-08 03:31:15 +0000 */
@layer utilities {
.tracking-tight {
    --tw-tracking: var(--tracking-tight);
    letter-spacing: var(--tracking-tight);
  }
}
