/*! Component: kt-input-addon-sm | Layer: components | Generated 2025-11-08 03:31:19 +0000 */
@layer components {
.kt-input-addon-sm {
      height: calc(var(--spacing) * 7);
      min-width: calc(var(--spacing) * 7);
      border-radius: calc(var(--radius) - 2px);
      padding-inline: calc(var(--spacing) * 2.5);
      font-size: var(--text-xs);
      line-height: var(--tw-leading, var(--text-xs--line-height));
      i {
        font-size: var(--text-base);
        line-height: var(--tw-leading, var(--text-base--line-height));
      }
      svg {
        width: calc(var(--spacing) * 3.5);
        height: calc(var(--spacing) * 3.5);
      }
    }
}
