<!DOCTYPE html>
<html class="h-full" data-kt-theme="true" data-kt-theme-mode="light" dir="ltr" lang="en">
    <%= render 'partials/raw/head' %>

    <body class="antialiased flex h-full text-base text-foreground bg-background demo1 kt-sidebar-fixed kt-header-fixed">

        <%= yield %>
  <!-- Scripts -->
        <%= render 'partials/raw/scripts' %>
  <!-- End of Scripts -->
 </body>
</html>
